<% photo = share.shareable %>
<div class="photo_container">
    <%= link_to image_tag(photo.image.url(:tiny), :alt => photo.title),
    "\#photo_#{photo.id}",
    {:title => photo.title, :rel => "prettyPhoto[inline]" } %>
    <%= render :partial => 'member/picto/photos/photo' , :object => photo %>
    <%= link_to photo.title, member_picto_photo_path(photo) %>
</div>
<p class="desc">
    <%= photo.description %>
</p>
<div class="dashboard_comments">
    <%= render :partial => "shared/comments", :locals => { :commentable => photo , :exclude_add_comment => true} %>
</div>
<div class="portlet portletL">
    <span class="theme"><span class="photo">Photo</span></span>
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(share.updated_at)) %>. <%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_picto_photo_path(photo), :title => I18n.t('comments.member.view.title', :title => h(photo.title)) %>. <%= share_with_groups_link(photo) if i_own? photo %>
</div>
