<% content_for :sidebar do %>
<%= render :partial => 'member/picto/photos/manage' %>
<%= render :partial => 'shared/groups', :locals => {:shareable => @photo} %>
<% end %>
<%= render :partial => 'member/sharings/title', :locals => {:shareable => @photo } %>
<div class="photo">
    <p>
        <%= link_to 'tiny', picto_scaled_photo_path(@photo, :tiny) %>|<%= link_to "small", picto_scaled_photo_path(@photo, :small) %>|<%= link_to "medium", picto_scaled_photo_path(@photo, :medium) %>|<%= link_to "big", picto_scaled_photo_path(@photo, :big) %>|<%= link_to "original", picto_scaled_photo_path(@photo, :original) %>
    </p>
    <div class="photo_container">
        <%= image_tag(@photo.image.url(@size)) %>
    </div>
    <p>
        <%= @photo.description %>
    </p>
    <p>
        <% tags = @photo.tag_list %>
        Tags:<% if !tags.blank? %>
        <% for tag in tags %>
        <%= link_to tag, tags_picto_photos_path(:tag => tag, :user => @photo.user_id) %>
        <% end %>
        <% else %>
        No tags.<% end %>
    </p>
    <%= render :partial => "shared/comments", :locals => { :commentable => @photo, :show_all => true } %>
    <div class="info_results">
        <%= text_navigation_links(@photo) %>
        <%= image_navigation_links(@photo) %>
    </div>
</div>
