<%= render :partial => 'profiles/header', :locals => {:profile => @profile} %>    

    

<% content_for :sidebar do %>
    
	<div class="portlet portletC" id="portlet_moreLinks">
        <h2><span><%= I18n.t('tog_social.more_links') %></span></h2>
        <div class="portlet_content">
            <ul>
              <% if its_me? -%>         
                <li><%= link_to I18n.t('tog_social.profiles.site.edit_profile'), edit_member_profile_path(@profile) %></li>
              <% else -%>
                <li><%= link_to_if(@profile.user.active?, I18n.t('tog_social.profiles.site.send_message'), member_new_message_to_path(@profile.user)) {}%></li>
                <li><%= report_abuse_link @profile %></li>
                <li><%= following_options(@profile) %></li>
              <% end -%>
            </ul>
        </div> 
    </div> 

<% end %>
