<%= render :partial => 'profiles/header' %>    

    

<% content_for :sidebar do %>
    
	<div class="portlet portletC" id="portlet_moreLinks">
        <h2><span><%= I18n.t('tog_social.more_links') %></span></h2>
        <div class="portlet_content">
            <ul>
              <% if its_me? -%>         
                <li><%= link_to I18n.t('tog_social.profiles.site.edit_profile'), edit_member_profile_path(@profile) %></li>
              <% else -%>
                <li><%= link_to_if(@profile.user.active?, I18n.t('tog_social.profiles.site.send_message'), member_new_message_to_path(@profile.user)) {}%></li>
                <li><%= report_abuse_link @profile %></li>
                <li><%= following_options(@profile) %></li>
              <% end -%>
            </ul>
        </div> 
    </div> 

	<div class="portlet portletC" id="portlet_moreLinks">
	  <% if !@profile.user.groups.blank? %>
	    <h2><span><%= I18n.t('tog_social.groups.site.title') %></span></h2>
	    <div class="portlet_content">
	      <ul>
	          <% for group in @profile.user.groups %>
	            <li><%= link_to group.name, group_path(group) %></li>
	          <% end %>
	      </ul>
	    </div> 
	  <% else %>
	
	  <% end %>        
	</div>
	 
	<% @profile.user.groups.group_by(&:type).each do |type, groups| %>
		<%= render :partial => "groups/groups_portlet", :locals => { 
		:items => groups, 
		:style => :portletG, 
		:title => I18n.t("groups.model.#{type}.title") } %> 
	<% end %>

<% end %>
