<% if items.any? %>
<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= title %></span></h2>
    <% if local_assigns[:add_link] %>
    <p>
        <%= add_link %>
    </p>
    <% end %>
    <div class="portlet_content">
        <ul id="groups_<%=items.first.type %>_<%=items.first.id %>">
            <%= render :partial => 'member/groups/group', :collection => items.first(4) %>
            <%= link_to_function I18n.t("groups.model.#{items.first.type}.view_all") do |page|
            page["groups_#{items.first.type}_#{items.first.id}"].replace_html :partial => 'member/groups/group', :collection => items
            end if items.size > 4 %>
        </ul>
    </div>
</div>
<% end %>
