<li class="clearfix">
    <div class="image">
        <%=link_to image_for_group(group, 'medium'), member_group_path(group) %>
    </div>
    <div class="title">
        <%= link_to group.name, member_group_path(group) %>
    </div>
    <% if local_assigns[:description] and description %>
    <div class="text">
        <%=group.description %>
    </div>
    <% end %>
    <div class="members">
        <strong><%= I18n.t('tog_social.groups.model.members', :count => group.members.size) %></strong>
    </div>
    <div id="actions">
        <% if i_am_moderator_of(group) and group.pending_members.size > 0 %>
        <%= link_to I18n.t('tog_social.groups.member.members_pending', :size => group.pending_members.size), member_group_pending_members_path(group) %>
        <% end %>
    </div>
</li>
