<div class="well">
    <div class="breadcrumb">
        <%= ancestor_path_for(@group) %>
        <span class="title"><%= link_to @group.name, member_group_path(@group) %></span>
    </div>
    <div class="detail">
        <div class="image">
            <%= link_to image_for_group(@group, 'medium', :class=>"img-rounded"), member_group_path(@group) %>
        </div>
        <div class="subtitle">
            <%= I18n.t('tog_social.groups.model.created_at') + " " %><%= @group.created_at.strftime("%d/%m/%Y") %>, <%= I18n.t('tog_social.groups.model.members', :count => @group.members.size) %>
        </div>
        <div class="summary">
            <%= I18n.t('tog_social.groups.model.moderated_by') %>:<% for moderator in @group.moderators -%>
            <%=link_to moderator.profile.full_name, member_profile_path(moderator.profile), :class=> 'maincolor4' %>
            <% end -%>
            <br/>
        </div>
        <div class="text">
            <p>
                <%= @group.description %>
            </p>
        </div>
    </div>
</div>
