<% include_table_filter %>
<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function(){
        jQuery('.select_all').click(function(){
            jQuery("input:checkbox.item").each(function(){
                jQuery(this).attr('checked', true);
            });
        });
        jQuery('.unselect_all').click(function(){
            jQuery("input:checkbox.item").each(function(){
                jQuery(this).attr('checked', false);
            });
        });
        var cols = {
            col_0: "none",
            col_1: "none"
        };
        var sort_cols = ['None', 'None', 'String', 'String']
        setTableFilter("filterTable", cols, sort_cols, false);
    });
</script>
<%= render :partial => 'member/groups/header_short' %>
<h2><span><%= I18n.t("groups.site.#{@type}.add_select") %><%=" or " %><%= link_to I18n.t("groups.site.#{@type}.invite"), "#{@type.downcase.pluralize}/new" %></span></h2>
<% form_tag add_member_group_path(@group, :type => @type) do |f| %>
<table id="filterTable" class="tableE profiles">
    <thead>
        <tr>
            <th>
            </th>
            <th scope="col">
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.name") %>
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.email") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% @profiles.each do |profile| %>
        <tr<%= cycle(' class="pair"','') -%>>
            <td nowrap="nowrap">
                <%= check_box_tag 'members[]', profile.id, false, :class => 'item' %>
            </td>
            <td nowrap="nowrap">
                <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) , :title => profile.full_name -%>
            </td>
            <td>
                <strong><%= link_to profile.full_name,  member_profile_path(profile) -%></strong>
            </td>
            <td nowrap="nowrap">
                <%= link_to profile.user.email, member_new_message_to_path(profile.user), {:title => I18n.t("tog_user.admin.send_email")} -%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% if @profiles.size > 1 %>
<div>
    <div class="ldiv">
        <%= link_to "Select All", "#", :class => 'select_all' %>
    </div>
    <div class="rdiv">
        <%= link_to "Unselect All", "#", :class => 'unselect_all' %>
    </div>
</div>
<% end %>
<% if  @type == 'Teacher' %>
<div>
    <label for="moderators" class="nolabel">
        <%= check_box_tag :moderator, "1", !@group.school? %><%=I18n.t('teachers.member.invite.moderator') %>
    </label>
    <% end %>
    <div class="actions">
        <%= submit_tag I18n.t("groups.site.add.#{@type}"), :class => "button mainaction" %>
    </div>
    <% end %>
    <% if current_user.school && @group.ancestors.all?{|g|!g.school?} && !params[:external] %>
    <% content_for :sidebar do %>
    <div class="portlet portletD">
        <h2><span><%= I18n.t('groups.member.add_members.external') %></span></h2>
        <div class="portlet_content">
            <%= link_to I18n.t('groups.member.add_members.from_school', :school => current_user.school.group.name) ,add_select_member_group_path(@group, :type => params[:type], :external => true), :class => 'add' %>
        </div>
    </div>
    <% end %>
    <% end %>
