<div class="titleB">
    <%= ancestor_path_for(@group) %><%= link_to @group.name, member_group_path(@group) %>> <%= I18n.t('groups.site.edit.title') %>
</div>
<br/>
<%= error_messages_for :group %>
<% form_for(@group, :url => member_group_path(@group), :html => { :multipart => true, :method => :put}) do |f| %>
<fieldset>
    <div class="fields">
        <p>
            <label for="group_name">
                <%= I18n.t('tog_social.groups.model.name') %>
            </label>
            <%= f.text_field  :name, :class => 'fieldbox wide' %>
        </p>
        <p>
        <label for="group_description">
            <%= I18n.t('tog_social.groups.model.description') %>
        </label>
        <%= f.text_area  :description, :class => 'fieldbox wide', :size => '60x10' %>
        </dd>
    </p>
    <p>
        <label for="group_tag_list">
            <%= I18n.t('tog_social.tags.tags') %>
        </label>
        <%= f.text_field  :tag_list, :class => 'fieldbox' %>
        <br/>
        <span class="helpinfo"><%= I18n.t('tog_social.tags.separated_by_comma') %></span>
    </p>
    <p>
        <label for="group_image">
            <%= I18n.t('tog_social.groups.model.image') %>
        </label>
        <%= image_for_group(@group, 'medium') %>
        <br/>
        <%= file_field "group", "image" %>
        <br/>
        <span class="helpinfo"><%= I18n.t('tog_social.groups.model.image_help') %></span>
    </p>
    </div>
</fieldset>
<div class="actions">
    <%= f.submit I18n.t('tog_social.groups.member.update'),:class=>"button mainaction" %>
</div>
<% end %>

<% content_for :sidebar do %>
<% if i_am_member_of(@group) %>

<div class="portlet portletC" id="portlet_adminLinks">
    <h2><span><%= I18n.t('groups.member.admin_links') %></span></h2>
    <div class="portlet_content">
        <ul>
            <% if i_am_moderator_of(@group) %>
	            <li>
	                <%= link_to I18n.t('groups.site.remove.Teacher'), remove_select_member_group_path(@group, :type => 'Teacher'), :class => 'delete' %>
	            </li>
	            <li>
	                <%= link_to I18n.t('groups.site.remove.Student'), remove_select_member_group_path(@group, :type => 'Student'), :class => 'delete' %>
	            </li>
				<% if @group.school? %>
	            <li>
	                <%= link_to I18n.t('groups.member.edit_profiles.title'), edit_profiles_member_group_path(@group)%>
	            </li>
				<% end %>				
			<% end %>
            <% if i_am_moderator_of(@group) and !@group.school? and @group.moderators.size > 1%>
		            <li>
		                <%= link_to I18n.t('tog_social.groups.site.leave'), leave_group_path(@group), :confirm => I18n.t('tog_social.groups.site.leave_confirm'), :class => 'delete' %>
		            </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="portlet portletH" id="portlet_groups">
	<h2>
		<span><%= I18n.t('groups.site.edit.moderators.title') %></span>
		<% if i_am_moderator_of(@group) %>
		<span><%= link_to I18n.t('groups.site.edit.moderators.add.title'), select_moderators_member_group_path(@group), :class => 'add' %></span>
		<% end %>
	</h2>	
	<div class="portlet_content">		
        <ul id="profiles_moderators">        	
        	<% for moderator in @group.moderators %>
			<li class="clearfix">
			    <div class="image small">
			        <%=link_to icon_for_profile(moderator.profile, 'small'), member_profile_path(moderator.profile) %>
			    </div>
			    <div class="title">
			        <%= link_to moderator.profile.full_name, member_profile_path(moderator.profile) %>
			    </div>
				<% if i_am_moderator_of(@group) and @group.moderators.size > 1 %>
			    <div id="actions">
			        <%= link_to(I18n.t('groups.site.edit.moderators.remove.title'), remove_moderator_member_group_path(@group, :moderator => moderator), 
							:confirm => I18n.t('groups.site.edit.moderators.remove.confirm', :user_name => moderator.profile.full_name), :class => 'delete') %>
			    </div>
				<% end %>
			</li>
			<% end %>
			<li class="clearfix">
				<div class="actions">
					
				</div>
			</li>
        </ul>
    </div>
</div>

<% end %>
<% end %>
