<% include_stylesheet 'shared/errors' %>

<div class="titleB">
    <%= link_to @group.name, member_group_path(@group) %>> <%= I18n.t('groups.member.edit_profiles.title') %>
</div>
<br/>
<% @ok_users ||= [] %>
<% @ok_users.each do |user| %>
		<div class="ok"><%= I18n.t('groups.member.edit_profiles.ok.message', :user_name => user.name) %></div>		
<% end %>
<% @error_users ||= [] %>
<% @error_users.each do |user| %>
		<div class="error"><%= I18n.t('groups.member.edit_profiles.error.message', :user_name => user.email, :reason => user.errors.full_messages.join(', ')) %></div>		
<% end %>
<% @ok_parents ||= [] %>
<% @ok_parents.each do |student, parent| %>
		<div class="error"><%= I18n.t('groups.member.edit_profiles.parents.ok.message', 
				:parent_name => "<b>(#{parent.email})</b>",
				:student_name => "<b>(#{student.email})</b>") %></div>
<% end %>
<% @failed_parents ||= [] %>
<% @failed_parents.each do |student, parent| %>
    <% unless parent.errors.blank? %>
		<div class="error"><%= I18n.t('groups.member.edit_profiles.parents.error.message', 
				:parent_name => "<b>(#{parent.email})</b>",
				:student_name => "<b>(#{student.email})</b>", 
				:failure_reason => parent.errors.full_messages.join(', ')) %></div>
	<% end %>
<% end %>
<% form_tag update_profiles_member_group_path(@group) , :html => {:id => "f_signup", :name => "f_signup" } do |f| -%>
<fieldset>
    <div class="fields">
        <p>
            <%= I18n.t('groups.member.edit_profiles.format') %>
            <%= text_area_tag :users, @users, :class => "fieldbox", :size => "80x20" %>
        </p>
        <p>
        	<% unless @group.student_users.blank? %>
			<% profile = @group.student_users.first.profile %>
            <span class="fontsmaller"><%= I18n.t('groups.member.edit_profiles.description', 
				:variables => profile.attributes_list.map{|a| a +" ("+ I18n.t("profiles.model.dynamic_attributes.attr.#{a}")+")"}.join(", ")) %></span>
			<% end %>
        </p>
    </div>
</fieldset>
<br/>
<div class="actions">
    <%= submit_tag I18n.t('groups.member.edit_profiles.title'), :class => "button mainaction" %>
</div>
<% end -%>
