<div class="portlet portletF" id="portlet_featuredUsers">
    <h2><span><%= link_to @group.name, group_path(@group) %> > <%= I18n.t("groups.site.add.#{@type}") %></span></h2>
    <div class="portlet_content">
    	<% form_tag add_member_group_path(@group) do |f| %>
        <ul>
            <% @profiles.each do |profile| %>
            <li>
            	<%= check_box_tag 'members[]', profile.id, false %>
                <%=link_to icon_for_profile(profile, 'medium'), profile_path(profile), :title => profile.full_name%>
				<%=link_to profile.full_name, profile %>                
            </li>
            <%end %>
			<li>
				<%= submit_tag I18n.t("groups.site.add.#{@type}"), :class => "button" %> or 
				<%= link_to I18n.t("groups.site.invite.#{@type}"), "#{@type.downcase.pluralize}/new" %>
			</li>
        </ul>		
		<% end %>
    </div>
</div>
