<% include_form_effects %>
<% include_stylesheet 'shared/errors' %>

<div class="titleB"><%= ancestor_path_for(@group) %>
<%= I18n.t("#{@type}.site.create") %>
</div>

<% if @group && !@group.errors.empty? -%>
<div class="error"><%= I18n.t('groups.site.add_failure', :group_name => "<b>#{@group.name}</b>", :failure_reason => @group.errors.full_messages.join(', ')) %></div>
<% end -%>

<% form_for(:group, :url=>member_groups_path(:type => @type), :html=>{:multipart=>true}) do |f| %>
  <fieldset>
    <div class="fields">
    	 <p>
        <%= f.hidden_field  :parent_id %>
      </p>
      <p>
        <label for="group_name"><%= I18n.t('tog_social.groups.model.name') %></label>
        <%= f.text_field  :name, :class => 'fieldbox wide', :size => 35 %>
      </p>
      <p>
        <label for="group_description"><%= I18n.t('tog_social.groups.model.description') %></label>
        <%= f.text_area  :description, :class => 'fieldbox wide', :size => '60x10' %></dd>
      </p>
      <p>
        <label for="group_tag_list"><%= I18n.t('tog_social.tags.tags') %></label>
        <%= f.text_field  :tag_list, :class => 'fieldbox', :size => 35 %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.tags.separated_by_comma') %></span>
      </p>
	  <% unless (@type == 'klasses') or (@type == 'subjects') %>
      <p>
        <label for="group_image"><%= I18n.t('tog_social.groups.model.image') %></label>
        <%= image_for_group(@group, 'medium') %><br/>
        <%= file_field "group", "image" %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.groups.model.image_help') %></span>
      </p>
	  <% end %>
	  <% if @type =='groups' %>
      <p>
        <label for="group_private" class="nolabel"><%= f.check_box :private %> <%= I18n.t('tog_social.groups.model.private') %></label><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.groups.model.private_help') %></span>
      </p>
      <p>
        <label for="group_moderated" class="nolabel"><%= f.check_box :moderated %> <%= I18n.t('tog_social.groups.model.moderated') %></label><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.groups.model.moderated_help') %></span>
      </p>
	  <% end %>
    </div>
    <div class="actions">
      <%= submit_tag I18n.t('tog_social.groups.site.create'), :class => "button mainaction" %>
	  <% if (@type == 'klasses' or @type == 'subjects') %>
	  or <%= link_to I18n.t("#{@type}.site.add_multiple.title"), new_multiple_member_group_path(@group.parent, :type => @type) %>
	  <% end %>
    </div>
  </fieldset>
<% end %>
