<% include_javascript 'jquery-1.4.2.min' %>
<% include_table_filter %>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.select_all').click(function(){
            jQuery("input:checkbox:visible.item").each(function(){
                jQuery(this).attr('checked', true);
            });
        });
        jQuery('.unselect_all').click(function(){
            jQuery("input:checkbox.item").each(function(){
                jQuery(this).attr('checked', false);
            });
        });
        var cols = {
            col_0: 'none',
            col_1: 'none'
        };
        var sort_cols = ['None', 'None', 'String', 'String']
        setTableFilter("filterTable", cols, sort_cols, 2, false);
    });
</script>
<%= render :partial => 'member/groups/header_short' %>
<h2><span><%= @form_title || I18n.t("groups.site.#{@type}.remove_select") %></span></h2>
<% form_tag (@form_url || remove_member_group_path(@group)) do |f| %>
<table id = "filterTable" class="tableE profiles">
    <thead>
        <tr>
            <th>
            </th>
            <th scope="col">
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.name") %>
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.email") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% @profiles.each do |profile| %>
        <tr>
            <td nowrap="nowrap">
                <%= check_box_tag 'members[]', profile.id, false, :class => 'item' %>
            </td>
            <td nowrap="nowrap">
                <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) , :title => profile.full_name -%>
            </td>
            <td>
                <strong><%= link_to profile.full_name,  member_profile_path(profile) -%></strong>
            </td>
            <td nowrap="nowrap">
                <%= link_to profile.user.email, member_new_message_to_path(profile.user), {:title => I18n.t("tog_user.admin.send_email")} -%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% if @profiles.size > 1 %>
<div>
    <div class="ldiv">
        <%= link_to "Select All", "#", :class => 'select_all' %>
    </div>
    <div class="rdiv">
        <%= link_to "Unselect All", "#", :class => 'unselect_all' %>
    </div>
</div>
<% end %>
<div class="actions">
    <%= submit_tag (@form_submit || I18n.t("groups.site.remove.#{@type}")), :class => "button mainaction" %>
</div>
<% end %>
