<h1><%= "#{@group.path} - Add from groups" %></h1>

<span id="share_with_groups_message"></span>

<div class="col_50_50 clearfix">
  
    <% middle = @groups.size % 2 == 1 ? @groups.size / 2 + 1 : @groups.size / 2
       left_col, right_col  = @groups.partition {|c| @groups.index(c) < middle} %>
    
    <div class="left_col">
      <% left_col.each do |group|%>
        <div class="moduleA round">
            <div class="title"> 
              <%= image_for_group(group, 'small') %>
              <%= link_to group.path, add_groups_member_group_path(@group, :source => group) %>
            </div>    
        </div> 
        <br />   
      <%end%> 
    </div> <!-- /.left_col -->    
    
    <div class="right_col">
      <% right_col.each do |group|%>
        <div class="moduleA round">
            <div class="title">
              <%= image_for_group(group, 'small') %>
              <%= link_to group.path, add_groups_member_group_path(@group, :source => group) %>
            </div>    
        </div> 
        <br />   
      <%end%>
    </div> <!-- /.right_col -->    
    
</div> <!-- ./col_50_50 -->
