<% include_javascript "busy_ajax" %>
<% include_pretty_photo %>

<%= render :partial => 'header' %>

<% if i_am_member_of @group %>
<div class="portlet portletB">
    <h2>
    	    <span><%= I18n.t('groups.site.posts.latest') %></span>
		<span style="float: right">View <%= select_tag "filter_sharings" ,options_for_select([['All', 'All'], ['Messages','Notice'], ['Notes','Post'],['Events', 'Event'],['Photos', 'Picto::Photo'],['Videos', 'Video'],['Activities', 'Assignment']], @filter), :onchange => remote_function(:url => member_group_path(@group), :method => :get, :with => "'filter='+this.value")%></span>
	</h2>
	<div id="sharings">
 		<%= render :partial => 'member/sharings/sharings' %>
	</div>
</div>
<% end %>

<% content_for :sidebar do %>
<% if i_am_member_of @group -%>
<div class="portlet portletC" >
	<h2><span><%= link_to I18n.t('groups.member.event.calendar'), member_conclave_events_path(:group => @group), :class => 'calendar' %></span></h2>
	<h2><span><%= link_to I18n.t('groups.member.reports.title'), member_group_aggregations_path(@group), :class => 'calendar' %></span></h2> 
</div>
<div class="portlet portletC" id="portlet_moreLinks">
    <h2><span><%= I18n.t('groups.member.post', :name => @group.name) %></span></h2>
    <div class="portlet_content">
        <ul>         
		    <li><%= link_to I18n.t('groups.member.notices.share'), new_member_group_notice_path(@group), :class => 'sendmail' %></li>
			<li><%= link_to I18n.t('groups.member.notes.share'), new_member_conversatio_blog_post_path(default_blog_for(@group), :group => @group), :class => 'note' %></li>
			<li><%= link_to I18n.t('groups.member.event.share'), new_member_conclave_event_path(:group => @group), :class => 'calendar' %></li>	
			<li><%= link_to I18n.t('groups.member.assignment.share'), new_member_assignment_path(:group => @group), :class => 'activity' %></li>		
			<li><%= link_to I18n.t('groups.member.photos.share'), new_member_picto_photo_path(:group => @group), :class => 'photo' %></li>	
			<li><%= link_to I18n.t('groups.member.videos.share'), new_member_video_path(:group => @group), :class => 'video' %></li>				  	
        </ul>
    </div> 
</div> 
 <% end -%>	  
 
<% if i_am_moderator_of(@group) %>
	<div class="portlet portletC" id="portlet_adminLinks">
	    <h2><span><%= I18n.t('groups.member.admin_links') %></span></h2>  
	    <div class="portlet_content">
	        <ul>
	        	  <%= link_to I18n.t('tog_social.groups.member.edit'), edit_member_group_path(@group), :class => 'ok' -%>
			  <% if @group.school? %>
			    <li><%= link_to I18n.t('klasses.site.create'), member_new_sub_group_path(@group, :type => 'klasses'), :class => 'add' %></li>
			    <li><%= link_to I18n.t('groups.site.Teacher.invite'), new_member_group_teacher_path(@group), :class => 'add' %></li>
			    <li><%= link_to I18n.t('groups.site.Student.invite'), new_member_group_student_path(@group), :class => 'add' %></li>				
			  <% else %>
			    <li><%= link_to I18n.t('groups.site.add.Teacher'), add_select_member_group_path(@group, :type => 'Teacher'), :class => 'add' %></li>
			    <li><%= link_to I18n.t('groups.site.add.Student'), add_select_member_group_path(@group, :type => 'Student'), :class => 'add' %></li>						
			  <% end %>
			  <% if @group.klass? %>
			    <li><%= link_to I18n.t('subjects.site.create'), member_new_sub_group_path(@group.id, :type => 'subjects'), :class => 'add' %></li>
			  <% end %>
			  <li><%= link_to I18n.t('groups.member.sub_groups.create'), member_new_sub_group_path(@group.id), :class => 'add' %></li>
	        </ul>
	    </div> 
	</div> 
<% end %>

<% @group.users.group_by(&:type).each do |type, users| %>
	<%= render :partial => "member/profiles/profiles_portlet", :locals => { 
	  :items => users.collect(&:profile), 
      :type => users.first.person_type,
	  :style => :portletG, 
	  :title => I18n.t("groups.model.#{type}.title", :count => @group.members.size),  
	  :no_items => I18n.t('tog_social.groups.model.members_not_found', :group_name => @group.name) } %>
 <% end %>
 
<% @group.active_children.group_by(&:type).each do |type, groups| %>
	<%= render :partial => "groups_portlet", :locals => { 
	:items => groups, 
	:style => :portletG, 
	:title => I18n.t("groups.model.#{type}.title"),  
	:no_items => I18n.t('groups.model.groups_not_found', :parent => @group.name) } %> 
<% end %>
<% end %>

