%h2
  %span
    = path_for(@group) 
    = " > " 
    = I18n.t('groups.member.stats.title')

%div
  %strong General
  %div
    = "Students: #{@group.active_student_users.count} / #{@group.student_users.count} active"
  %div
    = "Teachers: #{@group.active_teacher_users.count} / #{@group.teacher_users.count} active"
  -# %div
    -# = "Parents: #{@group.parent_users.select(&:active?).size} / #{@group.parent_users.size} active"
  %br
  %strong Usage
  %div
    = "Messages: #{@messages.size}"
  %div
    = "Notes: #{@notes.size}"
  %div
    = "Activities: #{@activities.size}"
  %div
    = "Photos: #{@photos.size}"
  %div
    = "Videos: #{@videos.size}"
  
  
