<div class="titleB">
    <%= link_to @group.name, member_group_path(@group) %> > <%= I18n.t('teachers.member.invite.title') %>
</div>
<br/>
<% @users ||= [] %>
<% @users.each do |user| %>
    <% if user.errors.blank? %>
		<%= I18n.t('groups.site.Teacher.added_successfully', :teacher_name => user.profile.full_name) %><br/>
	<% else %>
		<%= error_messages_for 'user', :object => user %>	
	<% end %>
<% end %>

<% form_tag member_group_teachers_path(@group) , :html => {:id => "f_signup", :name => "f_signup" } do |f| -%>
<fieldset>
    <div class="fields">
        <p>
            <%= label_tag :teachers, I18n.t('teachers.member.invite.format') %>
            <%= text_area_tag :teachers, @failed_teachers, :class => "fieldbox", :size => "80x20" %>
        </p>
        <% if config["plugins.tog_user.captcha_enabled"] %>
        <p>
            <label for="code">
                <%= I18n.t('tog_user.user.type_two_words') %>
            </label>
            <%= recaptcha_tags(:display =>{:lang => config["plugins.tog_core.language.default"]}) %>
        </p>
        <% end %>
		<p>
			<label for="moderators" class="nolabel"><%= check_box_tag :moderator, "1", !@group.school?%> <%=I18n.t('teachers.member.invite.moderator')%></label>
		</p>	
        <p>
            <span class="fontsmaller"><%= I18n.t('teachers.member.invite.description') %></span>
        </p>
    </div>
</fieldset>
<br/>
<div class="actions">
    <%= submit_tag I18n.t('teachers.member.invite.title'), :class => "button mainaction" %> or
	<%= link_to I18n.t("groups.site.Teacher.add_select"), add_select_member_group_path(@group, :type => 'Teacher')%>
</div>
<% end -%>
