- include_stylesheet "reports"
- include_javascript "jquery-1.4.2.min.js" 
:javascript
  jQuery.noConflict();
  
  jQuery(document).ready(function(){
    jQuery('.checkbox input:checkbox').change(function(){
      if(jQuery(this).is(':checked'))
        jQuery(this).closest('tr').addClass('highlight');
      else
        jQuery(this).closest('tr').removeClass('highlight');
    });
    jQuery('a.view_details').click(function(){ 
        jQuery(this).closest('li.child').find('div.details').toggle();
    });
  });
  


- form_for :report, :url => new_member_group_aggregation_path(@group) , :html => {:id => 'reports_form'} do |f|  
  %table.aggregation
    - for aggregation in @aggregations do  
      %tr         
        %td.checkbox
          = check_box_tag "aggregation[child_ids][]", aggregation.id
        %td.title
          = aggregation.name
        %td.children
          %ul
            - for wa in aggregation.weighted_assignments do
              %li{:class => "assignment"}
                =render :partial => 'member/assignments/aggregation_children_detail', :locals => {:assignment => wa.assignment}
                ="#{wa.weightage}%" if aggregation.weighted_average
            - for child in aggregation.children do
              %li.child                 
                = render :partial => 'member/aggregations/list_detail', :locals => {:aggregation => child}
                = link_to "Details" ,'#', :class => "view_details"
                %div{:class => "details", :style => "display: none; "}
                  %ul                  
                    - for wa in child.weighted_assignments do
                      %li{:class => ["_2", "assignment"]} 
                        =render :partial => 'member/assignments/aggregation_children_detail', :locals => {:assignment => wa.assignment}
                        ="#{wa.weightage}%" if child.weighted_average
                    - for node in child.descendents do
                      %li{:class => "_"+node.ancestors.size.to_s} 
                        =render :partial => 'member/aggregations/list_detail', :locals => {:aggregation => node}
                        ="#{trim(node.weightage)}%" if node.parent.weighted_average
                      - for wa in node.weighted_assignments do
                        %li{:class => ["_#{node.ancestors.size+1}", "assignment"]} 
                          =render :partial => 'member/assignments/aggregation_children_detail', :locals => {:assignment => wa.assignment}
                          ="#{trim(wa.weightage)}%" if node.weighted_average
        -if i_own?(aggregation)                          
          %td
            = link_to image_tag("delete.png"), member_group_aggregation_path(aggregation, @group), :method => :delete, :confirm => "This will delete the aggregation. Continue?"
  - if @assignments.any?  
    %table.assignment
      %caption="Assignments"
      %tbody
        - for ass in @assignments do
          %tr
            %td.checkbox
              = check_box_tag "aggregation[weighted_assignments_attributes][#{ass.id}][assignment_id]", ass.id
            = render :partial => 'member/assignments/aggregation_detail', :locals => {:assignment => ass}
  -#
    = link_to_remote I18n.t('reports.member.new.aggregate'),
    :url => {:controller => :aggregations, :action => 'create', :group_id => @group}, :method => :post,
    :html => {:class => 'button'},
    :with => "$('reports_form').serialize()" 
  %div.actions
    = submit_tag I18n.t('reports.member.new.aggregate') , :name => "aggregate", :class => "button mainaction"   
    = submit_tag I18n.t('reports.member.new.report'), :name => "report", :class => "button mainaction"
       
               
  