<% group ||= @group %>
<% profile = aggregation.user.profile %>
<div>
    <span class="left"><%= link_to icon_for_aggregation, member_group_aggregation_path(aggregation,group), :title => aggregation.name %>
        <span class="title"><%= link_to aggregation.name, member_group_aggregation_path(aggregation,group) %>
        </span>
        <div>
            <%= aggregation.formula %>
        </div
    </span>
    <span class="right"><%= link_to icon_for_profile(profile, 'tiny', :class=>"img"), member_profile_path(profile) %>
        <%= link_to profile.full_name, member_profile_path(profile) %></span>
</div>
