- include_javascript "jquery-1.4.2.min.js" 
:javascript
  jQuery(document).ready(function(){
    jQuery('#weighted_average').change(function(){
      jQuery('.weightage').toggle();
    });
  });


- form_for @aggregation, :url => member_group_aggregations_path(@group) do |f|
  %div.portlet.portletB
    %div.portlet_content    
      %fieldset
        %div.fields 
          %h2
            %span
              =f.text_field :name, :class => 'fieldbox', :placeholder => "Enter a name for aggregation"             
            %span
              = f.check_box :weighted_average, :id => "weighted_average"
              %label{:for => 'weighted_average'}
                = "Weighted Average"
            %span
              %label{:for => "aggergation_drop_lowest", :class => "drop_lowest"}
                = "Drop Lowest"
                = f.select :drop_lowest, [0..@aggregation.nodes.size-1]
            %span
              %label{:for => "score"}
                = "Score"
              = f.text_field :score, :size => 5
        %table.tableB  
          %tbody
            - f.fields_for :assignments do |a|
              %tr
                %td=a.object.post.title
                %td=a.object.score
                %td
                  =a.text_field :weightage, :placeholder => "Weightage", :size => 10, :class => "weightage", :style => "display: none;"
        %ul
          - for node in @aggregation.all_children do
            - f.fields_for node do |n|
              %li{:class => "_"+node.ancestors.size.to_s} 
                = node.name
                = node.score
                = node.drop_lowest
                = n.text_field :weightage, :placeholder => "Weightage", :size => 10, :class => "weightage", :style => "display: none;"
                - if node.assignments.any?
                  %table.tableB
                    %tbody
                      - for assignment in node.assignments do
                        %tr
                          %td=assignment.post.title
                          %td=assignment.weightage
                          %td=assignment.score
                          
                          
  %div.actions
    = submit_tag I18n.t('reports.member.new.aggregate') , :class => "button mainaction"    