<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>
Bangalore International School
</title>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="Wufoo.com" />

<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/wufoo/structure.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/wufoo/form.css" type="text/css" />

<!-- JavaScript -->
<script type="text/javascript" src="/javascripts/wufoo/wufoo.js"></script>
</head>

<body id="public">
<div id="container2">

<h1 id="logo2">
		<a href="http://wufoo.com" title="Powered by Wufoo">Wufoo</a>
	</h1>

<form id="form6" name="form6" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" action="#public">

<div id="header" class="info">
	<h2>Bangalore International School</h2>
	<div>Bangalore International School, Geddalahalli<br />
Hennur Bagalur Road, Kothanur Post<br />
Bangalore 560 077<br />
<br />
Phone - 080 2846 5060 or 2844 5852,<br />
Fax: 080 2846 5059<br />
Email:info@bisedu.co.in</div>
</div>

<ul>




<li id="foli23" 		class="      ">
	<label class="desc" id="title23" for="Field23">
		Grade applied for
			</label>
	<div id="Field23" >
		<%= @fields["Field23"] %>
	</div>
	</li>



<li id="foli18" 		class="     ">
	<label class="desc" id="title18" for="Field18">
		Name
			</label>
	<span id="Field18">
		<%= @fields["Field18"] %>
	</span>
	<span>
		<%= @fields["Field19"] %>
	</span>
	</li>


<li id="foli20" 		class="section      ">
		<h3 id="title20">Student's Birth Details</h3>
		<div id="instruct20">A description of the section goes here.</div>
	</li>


<li id="foli21" 		class="date      ">
	<label class="desc" id="title21" for="Field21">
		Date of birth
			</label>
	<div id="Field21">
		<%= @fields["Field21"] %>
	</div>
	</li>



<li id="foli25" 		class="     ">
	<label class="desc" id="title25" for="Field25">
		Place of birth (City)
			</label>
	<div id="Field25">
		<%= @fields["Field25"] %>
			</div>
	</li>


<li id="foli3" 		class="      ">
	<label class="desc" id="title3" for="Field3">
		Country of birth
				<span id="req_3" class="req">*</span>
			</label>
	<div id="Field3">
		<%= @fields["Field3"] %>
	</div>
	</li>



<li id="foli26" 		class="     ">
	<label class="desc" id="title26" for="Field26">
		Nationality
			</label>
	<div id="Field26">
		<%= @fields["Field26"] %>
			</div>
	</li>

<li id="foli27" 		class="section      ">
		<h3 id="title27">Father's details</h3>
		<div id="instruct27">A description of the section goes here.</div>
	</li>


<li id="foli34" 		class="     ">
	<label class="desc" id="title34" for="Field34">
		Name
			</label>
	<span id="Field34" 	>
		<%= @fields["Field34"] %>
	</span>
	<span>
		<%= @fields["Field35"] %>
	</span>
	</li>



<li id="foli36" 		class="     ">
	<label class="desc" id="title36" for="Field36">
		Profession
			</label>
	<div id="Field36" >
		<%= @fields["Field36"] %>
			</div>
	</li>


	<li style="display:none">
		<label for="comment">Do Not Fill This Out</label>
		<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
		<input type="hidden" id="idstamp" name="idstamp" value="" />
		<input type="hidden" id="stats" name="stats" value="" />
				<input type="hidden" id="clickOrEnter" name="clickOrEnter" value="" />
	</li>
</ul>
</form>

</div><!--container-->
<img id="bottom" src="/images/wufoo/bottom.png" alt="" />

<style type="text/css">
@import url(/css/global/power.14344.css);
</style>

<a class="powertiny" href="http://wufoo.com" title="Powered by Wufoo"
style="display:block !important;visibility:visible !important;text-indent:0 !important;position:relative !important;height:auto !important;width:95px !important;overflow:visible !important;text-decoration:none;cursor:pointer !important;margin:0 auto !important">
<span style="background:url(/images/wufoo/powerlogo.png) no-repeat center 7px; margin:0 auto;display:inline-block !important;visibility:visible !important;text-indent:-9000px !important;position:static !important;overflow: auto !important;width:62px !important;height:30px !important">Wufoo</span>
<b style="display:block !important;visibility:visible !important;text-indent:0 !important;position:static !important;height:auto !important;width:auto !important;overflow: auto !important;font-weight:normal;font-size:9px;color:#777;padding:0 0 0 3px;">Designed</b>
</a>
</body>
</html>