<div class="fields">
    <p>
        <label for="post_title">
            <%= I18n.t('tog_conversatio.model.post.title') %>
        </label>
        <%= f.text_field :title, :class=>"fieldbox wide" -%>
    </p>
	<% if @post.doc.file? %>
	<p id="doc">
        <label for="post_doc">
            <%= I18n.t('posts.model.doc.title') %>
        </label>
        <%= f.file_field  :doc %>
    </p>
	<% else %>
    <p id="compose">
        <label for="post_body">
            <%= I18n.t('posts.model.compose.title') %>
        </label>
        <%= f.text_area :body, :class=>"fieldbox wide mceEditor" -%>
    </p>    
	<% end %>
</div>
