<div class="fields">
    <p>
        <label for="post_title">
            <%= I18n.t('tog_conversatio.model.post.title') %>
        </label>
        <%= f.text_field :title, :class=>"fieldbox wide" -%>
    </p>
    <p id="compose">
        <label for="post_body">
            <%= I18n.t('posts.model.compose.title') %>
        </label>
        <%= f.text_area :body, :class=>"fieldbox wide mceEditor" -%>
        <br/>
        <%= link_to_function I18n.t('posts.model.doc.title_or') do |page|
        page[:compose].hide
        page[:doc].show
        end %>
    </p>
    <p id="doc" style="display:none;">
        <label for="post_doc">
            <%= I18n.t('posts.model.doc.title') %>
        </label>
        <%= f.file_field  :doc %>
        <%= link_to_function I18n.t('posts.model.compose.title_or') do |page|
        page[:compose].show
        page[:doc].hide
        end %>
    </p>
    <!--
    <label for="post_tag_list">
    <%= I18n.t('tog_conversatio.model.post.tags') %><%= I18n.t('tog_conversatio.model.post.tags_explanation') %>
    </label>
    <%= f.text_field :tag_list, :class=>"fieldbox wide" -%> -->
    <%= hidden_field_tag 'post_state', I18n.t('tog_conversatio.model.states.published') %>
</div>
