<div class="title desc">
    <%= link_to post.title, member_conversatio_post_path(post), :title => post.title %>
</div>
<div class="dashboard_comments">
    <%= render :partial => "shared/comments", :locals => { :commentable => post , :exclude_add_comment => true} %>
</div>
<div class="portlet portletL">
    <span class="theme">
        <span class="note"><%= link_to icon_for_post, member_conversatio_post_path(post), :title => post.title %></span>
    </span>
    <span class="date"><%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(post.published_at)) %></span>
    . <%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_conversatio_post_path(post), :title => I18n.t('tog_conversatio.views.posts.comments.comment_title', :post_title => h(post.title)) %>. <%= share_with_groups_link(post) if i_am_the_author_of? post %>
</div>
