<% commentable ||= @post %>
<div class="detail detail1">
    <div class="image">
        <% profile = @post.user.profile %>
        <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) %>
    </div>
    <div>
        <%= link_to profile.full_name, member_profile_path(profile) %>
        <% if @post.published? %>
        <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(@post.published_at)) %>
        <% else %>
        <%= I18n.t('assignments.site.list_detail.from_now', :time => time_ago_in_words(@post.published_at)) %>
		<span class="subtitle">[<%= I18n.t('assignments.site.list_detail.not_published_yet')%>]</span>
        <% end %>
    </div>
    <!--
    <%= render :partial => 'conversatio/posts/tags', :locals => { :post => @post } %>
    -->
</div>
<div id="post_<%= @post.id %>" class="border_top">
    <% if @post.doc.file? %>
    <iframe src="http://docs.google.com/viewer?embedded=true&url=<%= @post.doc.url %>" style="border:1px solid #ddd; width: 100%; height: 100%">
    </iframe>
    <% else %>
    <div>
        <%= sanitize(@post.body, :tags => (Tog::Plugins.settings :schoolarly, 'sanitized.allowed_tags').split, :attributes => (Tog::Plugins.settings :schoolarly, 'sanitized.allowed_attributes').split) %>
    </div>
    <% end %>
    <br/>
    <%= render :partial => "shared/comments", :locals => { :commentable => commentable , :show_all => true} if @post.published? %>
</div>
