<% commentable ||= @post %>
<div class="detail detail1">
    <div class="image">
        <% profile = @post.user.profile %>
        <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) %>
    </div>
    <div>
        <%= link_to profile.full_name, member_profile_path(profile) %>
        <% if @post.published? %>
        <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(@post.published_at)) %>
        <% else %>
        <%= I18n.t('assignments.site.list_detail.from_now', :time => time_ago_in_words(@post.published_at)) %>
        <span class="subtitle">[<%= I18n.t('assignments.site.list_detail.not_published_yet') %>]</span>
        <% end %>
    </div>
</div>
<div id="post_<%= @post.id %>" class="border_top">
    <% if @post.doc.file? %>
    <% if @post.image? %>
	<%= render :partial => 'member/conversatio/posts/image' %>
    <% else %>
    <iframe src="http://docs.google.com/viewer?embedded=true&url=<%= @post.doc.url(@post.doc.default_style, false) %>" class="doc" style="border:1px solid #ddd; width: 100%;">
    </iframe>
    <% end %>
    <% else %>
    <div>
        <%= @post.body %>
    </div>
    <% end %>
    <br/>
    <%= render :partial => "shared/comments", :locals => { :commentable => commentable , :show_all => true} if @post.published? %>
</div>
