
<div class="fields">
    <p>
        <label for="rubric_title">
            <%= I18n.t('rubrics.model.title') %>
        </label>
        <%= f.text_field :title, :class=>"fieldbox wide" -%>
    </p>
</div>
<table class="rubric">
    <thead>
        <tr>
            <th class="criterion">
                <%= link_to_remote I18n.t('rubrics.member.new.criteria.add'),
                :url => {:controller => :rubrics, :action => 'add_criterion', :id => @rubric}, :method => :post,
                :html => {:class => 'add'},
                :with => "$('rubric_form').serialize()" %>
            </th>
            <th colspan=<%=@rubric.levels.size%>
                class="level"><%= link_to_remote I18n.t('rubrics.member.new.levels.add'),
                :url => {:controller => :rubrics, :action => 'add_level', :id => @rubric}, :method => :post,
                :html => {:class => 'add'},
                :with => "$('rubric_form').serialize()" %>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% unless @rubric.criteria.blank? %>
            <th class="criterion">
            </th>
            <% end %>
            <% f.fields_for :levels do |l| %>
            <% level = l.object %>
            <% if level._destroy %>
            <%= l.hidden_field :_destroy %>
            <% else %>
            <th class="level">
                <%= l.text_field :name, :placeholder => I18n.t('rubrics.member.new.levels.name.default') , :size => 20 %>
                <%= l.text_field :points, :placeholder => I18n.t('rubrics.member.new.levels.points.default') , :class => "point", :size => 3 %>
                <%= l.hidden_field :_destroy, :class => 'destroy' %>
                <%= link_to_remote image_tag("delete.png"),
                :url => {:controller => :rubrics, :action => 'remove_field',:type => 'level' , :id => @rubric}, :method => :post,
                :html => {:class => "float_right"},
                :before => "jQuery(this).closest('.level').find('.destroy').val(1)",
                :with => "$('rubric_form').serialize()" %>
            </th>
            <% end %>
            <% end %>
        </tr>
        <% f.fields_for :criteria do |c| %>
        <% criterion = c.object %>
        <% if criterion._destroy %>
        <%= c.hidden_field :_destroy %>
        <% else %>
        <tr>
            <th class="criterion">
                <%= c.text_field :name, :title => I18n.t('rubrics.member.new.criteria.name.default'), :placeholder => I18n.t('rubrics.member.new.criteria.name.default'), :size => 20 %>
                <%= c.text_field :weightage, :placeholder => I18n.t('rubrics.member.new.criteria.weightage.default') , :class => "point", :size => 3 %>%<%= c.hidden_field :_destroy, :class => 'destroy' %>
                <%= link_to_remote image_tag("delete.png"),
                :url => {:controller => :rubrics, :action => 'remove_field',:type => 'criterion', :id => @rubric }, :method => :post,
                :html => {:class => "float_right"},
                :before => "jQuery(this).closest('.criterion').find('.destroy').val(1)",
                :with => "$('rubric_form').serialize()" %>
                <%= c.text_area :description, :placeholder => I18n.t('rubrics.member.new.criteria.description.default'), :rows => 5 , :cols => 10 %>
            </th>
            <% c.fields_for :rubric_descriptors do |rd| %>
            <% rubric_descriptor = rd.object %>
            <% unless @rubric.levels[rubric_descriptor.position-1]._destroy %>
            <td>
                <%= rd.text_area :description, :placeholder => I18n.t('rubrics.member.new.descriptors.default') , :rows => 5 , :cols => 10 %>
            </td>
            <% end %>
            <% end %>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>
