
<div class="fields">
    <p>
        <label for="rubric_title">
            <%= I18n.t('rubrics.model.title') %>
        </label>
        <%= f.text_field :title, :class=>"fieldbox wide" -%>
    </p>
</div>
<table class="rubric">
    <thead>
        <tr>
            <th class="criterion">
                <%= link_to_remote I18n.t('rubrics.member.new.criteria.add'),
                :url => {:controller => :rubrics, :action => 'add_criterion'}, :method => :post,
                :html => {:class => 'add title'},
                :with => "$('rubric_form').serialize()" %>
            </th>
            <th colspan=<%=@rubric.levels.size%>
                class="level"><%= link_to_remote I18n.t('rubrics.member.new.levels.add'),
                :url => {:controller => :rubrics, :action => 'add_level'}, :method => :post,
                :html => {:class => 'add title float_right'},
                :with => "$('rubric_form').serialize()" %>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% unless @rubric.criteria.blank? %>
            <th class="criterion">
            </th>
            <% end %>
            <% i = 1 %>
            <% f.fields_for :levels do |l| %>
            <th class="level">
                <% level = l.object %>
                <%= l.text_field :name, :placeholder => I18n.t('rubrics.member.new.levels.name.default') , :size => 20 %>
                <%= l.hidden_field :position, :value => i %>
                <%= l.text_field :points, :placeholder => I18n.t('rubrics.member.new.levels.points.default') , :size => 3 , :class => "point" %>
                <%= link_to_remote image_tag("delete.png"),
                :url => {:controller => :rubrics, :action => 'remove_field', :position => i,:type => 'level' }, :method => :post,
                :html => {:class => "float_right"},
                :with => "$('rubric_form').serialize()" %>
                <% i+= 1 %>
            </th>
            <% end %>
        </tr>
        <% j = 1 %>
        <% f.fields_for :criteria do |c| %>
        <tr>
            <th class="criterion">
            <% criterion = c.object %>
            <%= c.text_field :name, :title => I18n.t('rubrics.member.new.criteria.name.default'), :placeholder => I18n.t('rubrics.member.new.criteria.name.default') , :size => 20 %>
            <%= c.text_field :weightage, :placeholder => I18n.t('rubrics.member.new.criteria.weightage.default') , :class => "point", :size => 3 %>%
			<%= link_to_remote image_tag("delete.png"),
            :url => {:controller => :rubrics, :action => 'remove_field', :position => j,:type => 'criterion'  }, :method => :post,
            :html => {:class => "float_right"},
            :with => "$('rubric_form').serialize()" %>
            <%= c.text_area :description, :placeholder => I18n.t('rubrics.member.new.criteria.description.default'), :rows => 5 %>
        </th>
        <% k = 1 %>
        <% c.fields_for :rubric_descriptors do |rd| %>
        <% rubric_descriptor = rd.object %>
        <td>
        <%= rd.text_area :description, :placeholder => I18n.t('rubrics.member.new.descriptors.default') , :rows => 5 , :cols => 10 %>
        <%= rd.hidden_field :position, :value => k %>
        <% k+= 1 %>
    </td>
    <% end %>
    </tr>
    <% j+= 1 %>
    <% end %>
</tbody>
</table>
