<script type="text/javascript">	
    jQuery(document).ready(function(){
        jQuery('.level-editable').each(function(i){
			jQuery(this).editable('<%= member_rubric_path(@rubric) %>', {
				placeholder: "<em>(Enter level)</em>",
	            tooltip: "Click to enter the name of the level",
	            width: 200,
	            method: 'PUT',
	            id: 'element',
				indicator: '<%= image_tag("jeditable/indicator.gif") %>'	
    		});
		});
        jQuery('.criterion-editable').editable('<%= member_rubric_path(@rubric) %>', {
			placeholder: "<em>(Enter criterion)</em>",
            tooltip: "Click to enter the name of the criterion",
            width: 200,
            method: 'PUT',
            id: 'element',
			indicator: '<%= image_tag("jeditable/indicator.gif") %>'
        });
        jQuery('.rubric_descriptor-editable').editable('<%= member_rubric_path(@rubric) %>', {
            type: 'textarea',
            cancel: 'Cancel',
            submit: 'OK',
			placeholder: "<em>(Enter descriptor)</em>",
            tooltip: "Click to enter the name of the rubric descriptor",
            width: 200,
            method: 'PUT',
            id: 'element',
			indicator: '<%= image_tag("jeditable/indicator.gif") %>'
        }).click(function(){
            jQuery('.rubric_descriptor textarea').elastic();
        });
    });
</script>
<table class="tableB">
    <thead>
        <tr>
            <td>
            </td>
            <th colspan=<%=@rubric.levels.size%> class="level">
                <%= I18n.t('rubrics.member.new.levels.title') %>             
            </th>
        </tr>
    </thead>	
    <tbody>
        <tr>
            <th scope="col" class="criterion">
                <%= I18n.t('rubrics.member.new.criteria.title') %>                
            </th>
            <% for level in @rubric.levels %>
            <th scope="col" class="level">
                <span><b class="level-editable" id="level-<%= level.id%>-name"><%= level.name %></b></span>
				<span><%= link_to_remote image_tag("jeditable/delete.gif"), :url => del_level_member_rubric_path(@rubric, :level => level), :method => :get  %></span>
            </th>
            <% end %>
        </tr>
        <% for criterion in @rubric.criteria %>
        <tr>
            <th class="criterion">
                <span><b class="criterion-editable" id="criterion-<%= criterion.id%>-name"><%= criterion.name %></b></span>
				<span><%= link_to_remote image_tag("jeditable/delete.gif"), :url => del_criterion_member_rubric_path(@rubric, :criterion => criterion), :method => :get %></span>
            </th>
            <% for rd in criterion.rubric_descriptors %>
            <td>
                <b class="rubric_descriptor-editable" id="rubric_descriptor-<%= rd.id%>-description"><%= rd.description %></b>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>