<% include_javascript "busy_ajax" %>
<% include_javascript 'jquery-1.4.2.min' %>
<% include_javascript 'elastic/jquery.elastic' %>
<% include_stylesheet "rubric" %>

<script type="text/javascript">
	jQuery.noConflict();
</script>

<h2><span><%= I18n.t('rubrics.member.new.title') %></span></h2>
<div class="error">
    <%= error_messages_for :rubric %>
</div>
<div id='rubric'>
    <%= render :partial => 'edit' %>
</div>
<% content_for :sidebar do %>
    <%= render :partial => 'manage' %>
	<%= render :partial => 'shared/groups' %>
<% end %>



