<h2><span><%= I18n.t('rubrics.member.index.title') %></span></h2>
 
<table class="tableB">
  <thead>
      <tr>
      <th scope="col"><%= I18n.t('rubrics.member.index.title') %></th>
      <th scope="col"><%= I18n.t('rubrics.member.index.created_by') %></th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @rubrics, :entry_name =>  I18n.t('rubrics.member.index.rubric') %></span>
        <span class="pages_navigation right">
          <%= will_paginate @rubrics, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  
  <tbody>
    <% for rubric in @rubrics %>
    <tr<%= cycle(' class="pair"', '') -%>>
      <td>
      	<% if i_am_the_author_of?(rubric) and rubric.editable? %>
			<%= link_to rubric.title, edit_member_rubric_path(rubric) %>
		<% else %>
			<%= link_to rubric.title, member_rubric_path(rubric) %>
		<% end %>
		</td>
      <td><%= link_to rubric.user.profile.full_name, member_profile_path(rubric.user.profile) %></td>
	  <% if i_am_the_author_of?(rubric) %>
      <td>
        <%= share_with_groups_link(rubric)  %> 
      </td>
	  <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
<%= render :partial => 'manage' %>
<% end %>
