<h2><span><%= I18n.t('rubrics.member.new.title') %></span></h2>
<p>
    <%= link_to I18n.t('rubrics.member.new.criteria.add'), new_member_rubric_path, :class => 'button add' %>
    <%= link_to I18n.t('rubrics.member.new.levels.add'), new_member_rubric_path, :class => 'button add' %>
</p>
<table class="tableB">
    <tbody>
        <tr>
            <th scope="col">
                <%= I18n.t('rubrics.member.new.criteria.title') %>
            </th>
            <% @rubric.levels.each do |level| %>
            <th scope="col">
                <span id=<%="level_#{level.id}"%>><%= level.name.blank? ? 'Enter level': level.name %></span>
                <%= in_place_editor "level_#{level.id}" ,{:url => {:controller => 'rubrics', :action => 'set_level_name', :id => level}, :external_control => "level_#{level.id}"} %>
            </th>
            <% end %>
        </tr>
        <% @rubric.criteria.each do |@criterion| %>
        <tr>
            <th>
                <%= in_place_editor_field :criterion, 'name' %>
            </th>
            <% @criterion.rubric_descriptors.each do |@rubric_descriptor| %>
            <td>
                <%= in_place_editor_field  :rubric_descriptor, 'description' %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

