<% group = group if local_assigns[:group] %>
<% profile = assignment.post.user.profile %>
<td class="image">
    <div class="image">
        <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) %>
    </div>
    <div>
        <%= link_to profile.full_name, member_profile_path(profile) %>
    </div>
</td>
<td class="title">
    <%= link_to "#{sanitize assignment.post.title}", member_assignment_path(assignment, :group => group) %>
    <%= link_to icon_for_assignment, member_assignment_path(assignment, :group => group), :title => "#{sanitize assignment.post.title}" %>
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(assignment.post.published_at)) %>
    <h2 class="float_right"><%= assignment.score %>
    </h2>
</td>
