<div class="title">
    <%= link_to "#{sanitize assignment.title}", member_assignment_path(assignment, :group => @group) %>
</div>
<br />
<div class="portlet portletL">
    <%= link_to icon_for_assignment, member_assignment_path(assignment, :group => @group), :title => "#{sanitize assignment.title}" %>
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(assignment.created_at)) %>. <%= link_to I18n.t('tog_conversatio.views.posts.comments.comments', :size => assignment.comments.size), member_assignment_path(assignment, :group => @group) %> . <%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_assignment_path(assignment, :group => @group), :title => I18n.t('groups.comments.comment_title', :title => h(assignment.title)) %> . <%= share_with_groups_link(assignment) if i_am_the_author_of? assignment %>
</div>
