<% group = group if local_assigns[:group] %>
<div class="title">
    <%= link_to "#{sanitize assignment.post.title}", member_assignment_path(assignment, :group => group) %>
    <% if assignment.date %>
    <div class="time">
        <%= assignment.date.inspect %>, <%=assignment.start_time.to_s(:time_only) %>- <%=assignment.end_time.to_s(:time_only) %>
    </div>
    <% end %>
    <% if assignment.has_submissions and assignment.due_date %>
    <div class="time">
        <span class="detail"><%= I18n.t('assignments.model.due_by') %></span>
        <%=assignment.due_date.to_s(:date_time_12) %>
    </div>
    <% end %>
</div>

<% if assignment.post.published? and (i_own?(assignment) or current_user.student?) %>
<div class="score">
    <div>
        <% submission = assignment.submissions.find_by_user_id(current_user.id) %>
        <% if submission.blank? %>
        <%= link_to I18n.t('submissions.site.manage.new'), new_member_assignment_submission_path(assignment) if assignment.has_submissions %>
        <% elsif submission.post.published? %>
        <%= link_to I18n.t('submissions.site.manage.view'), member_submission_path(submission) %>
        <% else %>
        <%= I18n.t("submissions.model.state.draft") %>: <%= link_to I18n.t('submissions.site.manage.view'), edit_member_submission_path(submission) %>
        <% end %>
    </div>
    <% grade = assignment.grades.for_user(current_user) %>
    <% if grade and grade.shared_to?(current_user, assignment.user) %>
    <div>
        <%= link_to "View Grade", member_grade_path(assignment.grades.for_user(current_user)), :class => "grade" %>
    </div>
    <% end %>
</div>
<% end %>
<%= render :partial => "shared/comments", :locals => { :commentable => assignment , :exclude_add_comment => true} %>
<br/>
<div class="portlet portletL">
    <%= link_to icon_for_assignment(assignment), member_assignment_path(assignment, :group => group), :title => "#{sanitize assignment.post.title}" %>
    <% if assignment.post.published? %>
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(assignment.post.published_at)) %>
    <% else %>
    <%= I18n.t('assignments.site.list_detail.from_now', :time => time_ago_in_words(assignment.post.published_at)) %>
	<% end %>
    <%= " . " %>
    <%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_assignment_path(assignment, :group => group), :title => I18n.t('groups.comments.comment_title', :title => h(assignment.post.title)) %>. <%= share_with_groups_link(assignment) if i_am_the_author_of? assignment.post %>
</div>
