<div class="titleB">
    <% if @group %>
    <%= link_to @group.name, member_group_path(@group) %>> <% end %>
    <%= I18n.t('assignments.member.edit.change') %>
</div>
<br/>
<div class="error">
    <%= error_messages_for :assignment %>
</div>
<% form_for(@assignment, :url=>member_assignment_path(@assignment), :html=>{:multipart=>true}) do |f| %>
<fieldset>
    <%= render :partial => 'form', :locals => {:f => f } %>
</fieldset>
<div class="actions">
    <%= submit_tag I18n.t("assignments.member.edit.save"), :class => "button mainaction" %>
</div>
<% end %>