
<div class="titleB">
    <% if @group %>
    <%= link_to @group.name, member_group_path(@group) %>> <%= I18n.t('groups.member.assignment.share') %>
    <% else %>
    <%= I18n.t('assignments.member.add') %>
    <% end %>
</div>
<br/>
<div class="error">
    <%= error_messages_for :assignment %>
</div>
<% form_for(@assignment, :url=>member_assignments_path, :html=>{:multipart=>true}) do |f| %>
<%= render :partial => 'form', :locals => {:f => f}%>
<% end %>
