<div class="titleB">
    <% if @group %>
    <%= link_to @group.name, member_group_path(@group) %> > 
	<% end %>
	<%= I18n.t('groups.member.assignment.share') %>
</div>
<br/>
<div class="error">
    <%= error_messages_for :assignment %>
</div>
<% form_for(@assignment, :url=>member_assignments_path, :html=>{:multipart=>true}) do |f| %>
<fieldset>
    <%= render :partial => 'form', :locals => {:f => f} %>
</fieldset>
<div class="actions">
    <%= submit_tag I18n.t('tog_social.groups.site.create'), :class => "button mainaction" %>
</div>
<% end %>
