<%= include_tiny_mce_if_needed %>
<div class="titleB">
    <% if @group %>
    <%= link_to @group.name, member_group_path(@group) if @group %>> <%= I18n.t('groups.member.assignment.share') %>
    <% else %>
    <%= I18n.t('assignments.member.add') %>
    <% end %>
</div>
<br/>
<div class="error">
    <%= error_messages_for :assignment %>
</div>
<% form_for(:assignment, :url=>member_assignments_path, :html=>{:multipart=>true}) do |f| %>
<fieldset>
    <% f.fields_for :post_attributes do |p| %>
    <%= render :partial => 'member/conversatio/posts/form', :locals => {:f => p} %>
    <%= hidden_field_tag :group, @group.id if @group %>
    <div class="fields">
        <p>
            <label for="starts_at">
                <%= I18n.t('assignments.model.starts_at') %>
            </label>
            <%= p.datetime_select :published_at -%>
            <br/>
        </p>
    </div>
    <% end %>
    <div class="fields">
        <p>
            <label for="due_by">
                <%= I18n.t('assignments.model.due_by') %>
            </label>
            <%= f.datetime_select :due_date -%>
            <br/>
        </p>
    </div>
    <div class="actions">
        <%= submit_tag I18n.t('tog_social.groups.site.create'), :class => "button mainaction" %>
    </div>
</fieldset>
<% end %>
