<% include_stylesheet "rubric" %>
<div class="titleB">
    <%= render :partial => 'member/sharings/title', :locals => {:shareable => @assignment} %>
    <% if @assignment.date %>
    <div class="time">
        <%= @assignment.date.inspect %>, <%=@assignment.start_time.to_s(:time_only) %>- <%=@assignment.end_time.to_s(:time_only) %>
    </div>
    <% end %>
    <% if @assignment.due_date %>
    <div class="time">
        <span class="detail"><%= I18n.t('assignments.model.due_by') %></span>
        <%=@assignment.due_date.to_s(:date_time_12) %>
    </div>
    <% end %>
    <% if @assignment.score %>
    <span class="score"><span class="detail"><%= I18n.t('assignments.model.score') %></span><%= @assignment.score %>
    </span>
    <% end %>
    <%= link_to icon_for_assignment(@assignment) + I18n.t('assignments.site.download'), @post.doc.url, :title => I18n.t('assignments.site.download_file'), :class => 'float_right icon'  if @post.doc.file? %>
</div>
<%= render :partial => 'member/conversatio/posts/post', :locals => {:commentable => @assignment} %>
<% if @rubric %>
<h3><span><%= I18n.t('assignments.member.rubric.title') %></span></h3>
<%= render :partial => 'member/rubrics/table' %>
<% end %>
<% content_for :sidebar do %>
<%= render :partial => 'member/assignments/manage' %>
<%= render :partial => 'shared/groups',:locals => { :shareable => @assignment} %>
<% if @assignment.post.published? %>
<%= render :partial => 'member/submissions/submissions' %>
<% end %>
<!-- TODO tags & archive -->
<% end %>
