<div class="titleB">
    <% if @group %>
    <%= link_to @group.name, member_group_path(@group) %> > <% end %>
    <%= sanitize @post.title %>
	<%= link_to icon_for_assignment, @post.doc.url, :title => I18n.t('assignments.site.open_in_browser')  if @post.doc.file? %>
</div>
<%= render :partial => 'member/conversatio/posts/post' %>
<% content_for :sidebar do %>
<%= render :partial => 'member/assignments/manage' %>
<%= render :partial => 'shared/groups' %>
<!-- TODO tags & archive -->
<% end %>
