<% @profiles.each do |profile| %>
<tr<%= cycle(' class="pair"','') -%>>
    <td nowrap="nowrap">
        <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) -%>
    </td>
    <td>
        <strong><%= link_to profile.full_name,  member_profile_path(profile) -%></strong>
    </td>
    <td nowrap="nowrap">
        <%= link_to profile.user.email, member_new_message_to_path(profile.user), {:title => I18n.t("tog_user.admin.send_email")} -%>
    </td>
    <td>
        <%= I18n.t("tog_user.model.states.#{profile.user.state}") %>
    </td>
    <% if @group %>
    <% for group in @group.children %>
    <td nowrap="nowrap",  class='hover'>
        <% if i_am_moderator_of(@group) %>
        <span id="user_<%=profile.id%>_group_<%=group.id%>"><% if group.users.include?(profile.user) %>
            <%= image_tag("yes2.png") %>
            <%= link_to_remote image_tag("delete.png", :class => 'overlap'), :url => remove_member_group_path(group, :members => [profile.id]), :method => :get , :html => {:class => 'link', :style => "display: none;", :title => "Remove from group" } %>
            <% else %>
            <%= link_to_remote image_tag("add2.png"), :url => add_member_group_path(group, :members => [profile.id]), :method => :get, :html => {:class => 'link', :style => "display: none;" , :title => "Add to group"} %>
            <% end %></span>
        <% else %>
        <%= group.users.include?(profile.user) ? image_tag("yes2.png") : "" %>
        <% end %>
    </td>
    <% end %>
    <% end %>
</tr>
<% end %>