<div class="portlet_content">
    <ul>
        <% for share in @shares %>
        <li class="detail detail1">
            <div class="image">
                <%= link_to icon_for_profile(@profile, 'tiny', :class=>"img"), member_profile_path(@profile) %>
            </div>
            <div>
                <%= link_to @profile.full_name, member_profile_path(@profile.user) %> > 
				<%= link_to share.shared_to.name, member_group_path(share.shared_to) %>
            </div>
            <% if share.shareable.is_a? Post %>
            <%= render :partial => '/conversatio/posts/dashboard_detail', :locals => { :blog => share.shareable.blog, :post => share.shareable } %>
            <% end %>
            <% if share.shareable.is_a? Event %>
            <%= render :partial => '/conclave/events/dashboard_detail', :locals => { :event => share.shareable } %>
            <% end %>
            <% if share.shareable.is_a? Attachment %>
            <%= render :partial => '/attachments/dashboard_detail', :locals => { :attachment => share.shareable } %>
            <% end %>
            <% if share.shareable.is_a? Assignment %>
            <%= render :partial => '/assignments/dashboard_detail', :locals => { :assignment => share.shareable } %>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>
<% if !@shares.empty? %>
<div class="info_results">
    <span class="info_items"><%= page_entries_info @shares %>
    </span>
    <span class="pages_navigation right"><%= will_paginate @shares %>
    </span>
</div>
<%end %>