<% include_javascript "busy_ajax" %>
<% include_javascript 'jquery-1.4.2.min' %>
<% include_javascript 'tableFilter/tablefilter_all' %>
<% include_javascript 'table' %>
<script type="text/javascript">
    jQuery.noConflict();
    
    jQuery(document).ready(function(){
        jQuery('td.hover').hover(function(){
            jQuery(this).find('a.link').show();
        }, function(){
            jQuery(this).find('a.link').hide();
        });
        setTableFilter("filterTable", '<%= 4 + @column_groups.size %>');
    });
</script>
<% if @group %>
<%= render :partial => 'member/groups/header' %>
<h2><span><%= I18n.t("groups.model.#{@type}.title") %></span></h2>
<% else %>
<h2><span><%= I18n.t('tog_social.profiles.site.title') %></span></h2>
<% end %>
<div class="wide">
<table id="filterTable" class="tableE profiles">
    <thead>
        <tr>
            <th scope="col">
                <%= I18n.t("tog_user.model.profile.pic") %>
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.name") %>
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.email") %>
            </th>
            <th scope="col">
                <%= I18n.t("tog_user.model.state") %>
            </th>
            <% if @group %>
            <% for group in @column_groups %>
            <th scope="col">
                <%= group.name %>
                <%= link_to "", member_group_path(group), :class => "smallarrow blueright" %>
            </th>
            <% end %>
            <% end %>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="<%= 4 + @column_groups.size %>" class="info_results">
            </td>
        </tr>
    </tfoot>
    <tbody>
        <% @users.each do |user| %>
        <% profile = user.profile %>
        <tr<%= cycle(' class="pair"','') -%>>
            <td nowrap="nowrap">
                <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) -%>
            </td>
            <td>
                <strong><%= link_to profile.full_name,  member_profile_path(profile) -%></strong>
            </td>
            <td nowrap="nowrap">
                <%= link_to user.email, member_new_message_to_path(user), {:title => I18n.t("tog_user.admin.send_email")} -%>
            </td>
            <td>
                <%= I18n.t("tog_user.model.states.#{user.state}") %>
            </td>
            <% if @group %>
            <% for group in @column_groups %>
            <% user_in_group = @memberships[user.id] && @memberships[user.id].include?(group.id) %>
            <td nowrap="nowrap",  class='hover'>
                <% if i_am_moderator_of(@group) %>
                <span id="user_<%=profile.id%>_group_<%=group.id%>"><% if user_in_group %>
                    <%= image_tag("yes2.png") %>
                    <%= link_to_remote image_tag("delete.png", :class => 'overlap'), :url => remove_member_group_path(group, :members => [profile.id]), :method => :get , :html => {:class => 'link', :style => "display: none;", :title => "Remove from group" } %>
                    <% else %>
                    <%= link_to_remote image_tag("add2.png"), :url => add_member_group_path(group, :members => [profile.id]), :method => :get, :html => {:class => 'link', :style => "display: none;" , :title => "Add to group"} %>
                    <% end %></span>
                <% else %>
                <%= user_in_group ? image_tag("yes2.png") : "" %>
                <% end %>
            </td>
            <% end %>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
</div>