<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= title %></span></h2>
    <div class="portlet_content">
        <ul>
          <% items.each do |group|%>
          <li class="clearfix">
              <div class="image"><%=link_to image_for_group(group, 'medium'), path_for_group(group) %></div>
              <div class="title"><%= link_to group.name, path_for_group(group) %></div>
              <div class="text">
                 <%=group.description%>
              </div>
              <div class="members"><strong>
              <%= I18n.t('tog_social.groups.model.members', :count => group.members.size) %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>