<div id="footerlogged" class="clearfix">
    <div class="copyright">
        <strong><%=config['plugins.tog_core.site.name'] %>© <%=Time.now.year %></strong>
    </div>
    <div class="links">
        <ul class="clearfix">
            <li class="bold p1">
                <%= link_to "Help", "/help" -%>
            </li>
            <li class="bold p2">
                <%= link_to "Blog", "http://blog.schoolarly.com" -%>
            </li>
            <li class="bold p1">
                <%= link_to "About", "/home/about" %>
            </li>
        </ul>
    </div>
</div>
<!-- /#footer -->
