<div class="portlet portletI">
    <div class="portlet_content">
        <ul>
            <% for comment in commentable.comments %>
            <li id="comment_<%= comment.id %>">
                <% if comment.user %>
                <div class="image">
                    <%= link_to icon_for_profile(comment.user.profile, 'tiny'), profile_path(comment.user.profile) %>
                </div>
                <div class="text">
                    <%= link_to comment.user.profile.full_name, profile_path(comment.user.profile) %>
                </div>
                <% else %>
                <div class="text">
                    <%= comment_user_name(comment) %>
                </div>
                <% end %>
                <%= sanitize(textilize(comment.comment), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_attributes').split) %>
                <span class="helpinfo"><%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(comment.created_at)) %></span>
            </li>
            <% end %>
        </ul>
    </div>
</div>
<!-- /#potlet_featuredPosts -->
<% unless local_assigns[:include_add_comment] %>
<%= render :partial => "shared/add_comment", :locals => {:commentable => commentable} %>
<% end %>