<% comments = commentable.comments %>
<% unless commentable.comments.size <= 2 or local_assigns[:show_all] %>
	<% comments = commentable.comments.last(2) %>
<% end %>
<div class="portlet portletI">
    <div class="portlet_content">
        <ul id="comments_<%=commentable.type%>_<%=commentable.id%>">
            <%= render :partial => 'shared/comment', :collection => comments %>
            <% unless commentable.comments.size <= 2 or local_assigns[:show_all] %>
            <li>
                <%= link_to_function I18n.t('comments.member.view.all', :size => commentable.comments.size) do |page|
                page["comments_#{commentable.type}_#{commentable.id}"].replace_html :partial => 'shared/comment', :collection => commentable.comments
                end %>
            </li>
            <% end %>
        </ul>
    </div>
</div>
<!-- /#potlet_featuredPosts -->
<% unless local_assigns[:exclude_add_comment] %>
<%= render :partial => "shared/add_comment", :locals => {:commentable => commentable} %>
<% end %>