<li id="comment_<%= comment.id %>">
    <% if comment.user %>
    <div class="image">
        <%= link_to icon_for_profile(comment.user.profile, 'tiny'), member_profile_path(comment.user.profile) %>
    </div>
    <div>
        <%= link_to comment.user.profile.full_name, member_profile_path(comment.user.profile) %>
    </div>
    <% else %>
    <div class="text">
        <%= comment_user_name(comment) %>
    </div>
    <% end %>
    <%= comment.comment %>
    <div class="portletL fontsmaller">
        <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(comment.created_at)) %>
    </div>
</li>
