<div id="attachment_<%= @attachment.id %>" class="border_top">
    <h1><%= sanitize @attachment.title %></h1>
    <div>
        <%= I18n.t('attachments.site.uploaded_by') %>
        <%= link_to @attachment.user.profile.full_name, profile_path(@attachment.user) %>
        <%= I18n.t('attachments.site.list_detail.time_ago', :time => time_ago_in_words(@attachment.created_at)) %>
    </div>
    <div>
        <%= I18n.t('attachments.site.title') %>- <%= link_to "#{sanitize @attachment.doc.original_filename}", @attachment.doc.url, :title => "#{sanitize @attachment.doc.original_filename}" %>
    </div>
	<br />
    <div>
        <%= sanitize(textilize(@attachment.description), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_attributes').split) %>
    </div>
    <br/>
    <%= render :partial => "shared/comments", :locals => { :commentable => @attachment } %>
</div>
<% content_for :sidebar do %>
<%= render :partial => 'member/attachments/manage', :locals => {:attachment => @attachment} %>
<%= render :partial => 'attachments/groups', :locals => {:attachment => @attachment} %>
<!-- TODO tags & archive -->
<% end %>
