<div class="titleB">
    <% if @group %>
    <%= link_to @group.name, member_group_path(@group) %> > <%= I18n.t('groups.member.assignment.share') %>
    <% else %>
    <%= I18n.t('assignments.member.add') %>
    <% end %>
</div>
<br/>
<div class="error">
    <%= error_messages_for :home_activity %>
</div>
<% form_for(@home_activity, :url=>member_home_activities_path, :html=>{:multipart=>true}) do |f| %>
<fieldset>
    <% f.fields_for :assignment do |a| %>
    <%= render :partial => 'member/assignments/form', :locals => {:f => a, :publish => true} %>
    <% end %>
    <div class="fields">
        <p>
            <label for="due_by">
                <%= I18n.t('assignments.model.due_by') %>
            </label>
            <%= f.text_field :due_date,  :class => "date_with_time" %>
            <br/>
        </p>
    </div>
</fieldset>
<div class="actions">
    <%= submit_tag I18n.t('tog_social.groups.site.create'), :class => "button mainaction" %>
</div>
<% end %>
