<% include_mootools_datepicker %>
<% include_form_effects %>
<script type="text/javascript">
    jQuery.noConflict();
    
    window.addEvent('load', function(){
        new DatePicker('.date_without_time', {
            timePicker: false,
            format: 'd-m-Y',
            inputOutputFormat: 'Y-m-d',
        });
        new DatePicker('.time_only', {
            timePickerOnly: true,
            format: 'H:i',
            inputOutputFormat: 'Y-m-d H:i',
        });
    });
</script>
<div class="fields">
    <table class="tableE">
        <caption>
            <%= I18n.t("tog_conclave.admin.event_details") %>
        </caption>
        <tbody>
            <tr>
                <th scope="row">
                    <%= I18n.t("tog_conclave.fields.title") %>
                </th>
                <td nowrap="nowrap">
                    <%=f.text_field :title, :class=>"fieldbox" %>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <%= I18n.t("tog_conclave.fields.description") %>
                </th>
                <td nowrap="nowrap">
                    <%=f.text_area :description, :size => '40x6', :class=>"fieldbox" %>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <%= I18n.t("tog_conclave.fields.url") %>
                </th>
                <td nowrap="nowrap">
                    <%=f.text_field :url, :class=>"fieldbox" %>
                </td>
            </tr>
            <!--
            <tr>
            <th scope="row"><%= I18n.t("tog_conclave.fields.tags") %></th>
            <td nowrap="nowrap">
            <%= text_field "event", "tag_list", :class => "fieldbox" %>
            <br/>
            <span class="helpinfo"><%= I18n.t("tog_conclave.fields.tags_explanation") %></span>
            </td>
            </tr>
            -->
            <tr>
                <th scope="row">
                    <%= I18n.t("tog_conclave.fields.icon") %>
                </th>
                <td nowrap="nowrap">
                    <%= file_field "event", "icon" %>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <%= I18n.t("tog_conclave.fields.venue") %>
                </th>
                <td nowrap="nowrap">
                    <%=f.text_field :venue, :class=>"fieldbox" %>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="tableE">
        <caption>
            <%= I18n.t("tog_conclave.admin.datetimes") %>
        </caption>
        <tbody>
            <tr>
                <th scope="row">
                    <%= I18n.t("events.model.start_time") %>
                </th>
                <td nowrap="nowrap">
                    <%=f.text_field :start_date, :class=>"fieldbox date_without_time" %>
                </td>
                <td>
                    @
                </td>
                <td nowrap="nowrap">
                    <%=f.text_field :start_time, :class=>"fieldbox time_only", :value => @event.start_time.iso8601 %>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <%= I18n.t("events.model.end_time") %>
                </th>
                <td nowrap="nowrap">
                    <%=f.text_field :end_date, :class=>"fieldbox date_without_time" %>
                </td>
                <td>
                    @
                </td>
                <td nowrap="nowrap">
                    <%=f.text_field :end_time, :class=>"fieldbox time_only" , :value => @event.end_time.iso8601 %>
                </td>
            </tr>
        </tbody>
    </table>
    <!--
    <table class="tableE">
    <caption><%= I18n.t("tog_conclave.admin.localization") %></caption>
    <tbody>
    <tr>
    <th scope="row"><%= I18n.t("tog_conclave.fields.venue") %></th>
    <td nowrap="nowrap"><%=f.text_field :venue, :class=>"fieldbox" %></td>
    </tr>
    <tr>
    <th scope="row"><%= I18n.t("tog_conclave.fields.venue_address") %></th>
    <td nowrap="nowrap">
    <%=f.text_field :venue_address, :class=>"fieldbox" %>
    <br/>
    <span class="helpinfo"><%= I18n.t("tog_conclave.fields.used_for_geolocation") %></span>
    </td>
    </tr>
    <tr>
    <th scope="row"><%= I18n.t("tog_conclave.fields.venue_link") %></th>
    <td nowrap="nowrap"><%=f.text_field :venue_link, :class=>"fieldbox" %></td>
    </tr>
    </tbody></table>
    <table class="tableE">
    <caption><%= I18n.t("tog_conclave.admin.attendance") %></caption>
    <tbody>
    <tr>
    <th scope="row"><%= I18n.t("tog_conclave.fields.capacity") %></th>
    <td nowrap="nowrap"><%=f.text_field :capacity, :class=>"fieldbox" %></td>
    </tr>
    </tbody></table>
    -->
    <%= hidden_field_tag :group, params[:group] if params[:group] %>
</div>
<br/>
