<% include_javascript 'jquery-1.4.2.min.js' %>
<% include_stylesheet 'fullcalendar/adjustments' %>
<% include_stylesheet 'fullcalendar/fullcalendar' %>
<% include_javascript 'fullcalendar/fullcalendar' %>
<% include_stylesheet "date.css" %>
<% url_params = {} %>
<% url_params[:group] = @group if @group %>
<% if @group %>
<% json_feed_path =  member_conclave_events_path(:group => @group) %>
<%= render :partial => '/member/groups/header' %>
<% else %>
<% json_feed_path =  member_conclave_events_path %>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
    
        // page is now ready, initialize the calendar...
        
        $('#calendar').fullCalendar({
            allDayDefault: false,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: "<%= json_feed_path %>",
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
					window.location = '<%= new_member_conclave_event_path(:group => @group) %>' + '&start='+start.toUTCString() + '&end='+end.toUTCString();
				},
            loading: function(bool){
                if (bool) {
                    jQuery("#loading").show();
                }
                else {
                    jQuery("#loading").hide();
                }
            }
        });
        
    });
</script>
<div id='loading' style='display:none'>
    loading...
</div>
<div id='calendar'>
</div>
<% content_for :sidebar do %>
<div class="title3 clearfix margin1">
    My events
</div>
<br/>
<ul class="list2">
    <% if @events.empty? %>
    <li class="clearfix">
    No events<% else %>
    <% @events.each do |event| %>
    <li class="clearfix detail1" id="event<%=event.id.to_s%>">
        <div class="clearfix">
            <!--
            <div class="image left"><%= image_tag event.icon.url :small %></div>
            -->
            <div class="image date month<%= event.start_date.month %>">
                <%= event.start_date.day %>
            </div>
            <div>
                <span class="title"><%= link_to event.title, member_conclave_event_path(event), :title => event.title %></span>
            </div>
            <div class="summary">
                <%= write_event_time(event) %>
                <%= "at #{event.venue}"  if event.venue %>
            </div>
            <div class="text">
                <%= event.description %>
            </div>
        </div>
    </li>
    <%end %>
    <%end %>
</ul>

<div class="title3 clearfix margin1">
    My activities
</div>
<br/>
<ul class="list2">
    <% if @assignments.empty? %>
    <li class="clearfix">
    No activities<% else %>
    <% @assignments.each do |assignment| %>
	<% date = assignment.due_date || assignment.date %>
    <li class="clearfix detail1" id="assignment<%=assignment.id.to_s%>">
        <div class="clearfix">			

            <div class="image date month<%= date.month %>">
                <%= date.day %>
            </div>
			
            <div>
                <span class="title"><%= link_to assignment.name, member_assignment_path(assignment), :title => assignment.name %></span>
            </div>
			<% if assignment.start_time and assignment.end_time %>
            <div class="summary">
                <%= "#{I18n.t('tog_conclave.site.from_time')} #{assignment.start_time} #{I18n.t('tog_conclave.site.to_time')} #{assignment.end_time}" %>
            </div>
			<% end %>
        </div>
    </li>
    <%end %>
    <div class="info_results">
        <span class="pages_navigation"><%= will_paginate (@events.size > @assignments.size) ? @events : @assignments %>
        </span>
    </div>
    <%end %>
</ul>
<% end %>