<% include_stylesheet 'home' %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= link_to I18n.t('home.pitch.teachers.title'), '/home/teachers_why' %></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/cloud.png", :class =>"float_left icon"), '/home/teachers_why' %>
            <ul>
                <li>
                    <%= I18n.t('home.pitch.teachers.first_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.teachers.second_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.teachers.third_line') %>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= I18n.t('home.pitch.students.title') %></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/all_box.png", :class =>"float_left icon"), '/home/students_why' %>
            <ul>
                <li>
                    <%= I18n.t('home.pitch.students.first_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.students.second_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.students.third_line') %>
                </li>
            </ul>
        </div>
    </div>
</div>


<% content_for :sidebar do %>

<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= I18n.t('home.pitch.parents.title') %></span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/home/graph.png" alt="" />
            <ul>
                <li>
                    <%= I18n.t('home.pitch.parents.first_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.parents.second_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.parents.third_line') %>
                </li>
            </ul>
        </div>
    </div>
</div>

<% end %>

<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span>About us</span></h2>
    <div class="portlet_content">
        <ul>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_shenu.jpg" alt="" />
                </div>
                <div class="title">
                    Shenuja Subhash
                </div>
                <div class="text">
                    Shenuja Subhash
                </div>
                <div class="more">
                    <%= mail_to "shenuja@schoolarly.com" %>
                </div>
            </li>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_subhash.jpg" alt="" />
                </div>
                <div class="title">
                    Subhash Gopalakrishnan
                </div>
                <div class="text">
                    Subhash Gopalakrishnan
                </div>
                <div class="more">
                    <%= mail_to "subhash@schoolarly.com" %>
                </div>
            </li>
        </ul>
    </div>
</div>
