<% include_javascript 'jquery-1.4.2.min'%>
<% include_javascript 'orangebox/orangebox.js'%>

<% include_stylesheet 'home' %>
<% include_stylesheet 'orangebox/orangebox.css' %>

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div class="portletK" id="portlet_splashHome" onclick="location.href='/home/teachers_why';" style="cursor: pointer;">
    <h2><span class="title"><%= link_to I18n.t('home.pitch.teachers.title'), '/home/teachers_why' %></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/cloud.png", :class =>"float_left icon"), '/home/teachers_why' %>
            <ul>
                <li>
                    <%= I18n.t('home.pitch.teachers.first_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.teachers.second_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.teachers.third_line') %>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portletK" id="portlet_splashHome" onclick="location.href='/home/parents_why';" style="cursor: pointer;">
    <h2><span class="title"><%= link_to I18n.t('home.pitch.parents.title'), '/home/parents_why' %></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/graph.png", :class =>"float_left icon"), '/home/parents_why' %>
            <ul>
                <li>
                    <%= I18n.t('home.pitch.parents.first_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.parents.second_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.parents.third_line') %>
                </li>
            </ul>
        </div>
    </div>
</div>
<% content_for :sidebar do %>
<div class="portletK" id="portlet_splashHome" onclick="location.href='/home/students_why';" style="cursor: pointer;">
    <h2><span class="title"><%= link_to I18n.t('home.pitch.students.title'), '/home/students_why' %></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/all_box.png", :class =>"float_left icon"), '/home/students_why' %>
            <ul>
                <li>
                    <%= I18n.t('home.pitch.students.first_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.students.second_line') %>
                </li>
                <li>
                    <%= I18n.t('home.pitch.students.third_line') %>
                </li>
            </ul>
        </div>
    </div>
</div>

            

<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= link_to "Intro Video", "http://www.youtube.com/embed/8YmiKt4Etwg?iframe", :rel => "lightbox"%></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/play-video2.jpg"), "http://www.youtube.com/embed/8YmiKt4Etwg?iframe", :rel => "lightbox" %>            
        </div>
    </div>
</div>

<!--
<div class="portletK" id="portlet_splashHome">
    <div class="portlet_content">
        <div>
        	

            <%= link_to "Intro video", "http://www.youtube.com/embed/8YmiKt4Etwg?iframe", :rel => "lightbox" %>
        </div>
    </div>
</div>



<div class="portletK" id="portlet_splashHome" onclick="alert('soo');jQuery('a.lightbox').orangeBox('showContent');alert('foo');" style="cursor: pointer;">
	<%= link_to 'Intro video', "http://www.youtube.com/watch?v=8YmiKt4Etwg",  :class => "lightbox"%>
    <div class="portlet_content">
        <div>
        	<!--
            <iframe width="380" height="210" src="http://www.youtube.com/embed/8YmiKt4Etwg" frameborder="0" allowfullscreen>
            </iframe>
			-->
        </div>
    </div>
</div>

-->
<% end %>
<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span>About us</span></h2>
    <div class="portlet_content">
        <ul>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_shenu.jpg" alt="" />
                </div>
                <div class="title">
                    Shenuja Subhash
                </div>
                <div class="text">
                    Shenuja Subhash
                </div>
                <div class="more">
                    <%= mail_to "shenuja@schoolarly.com" %>
                </div>
            </li>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_subhash.jpg" alt="" />
                </div>
                <div class="title">
                    Subhash Gopalakrishnan
                </div>
                <div class="text">
                    Subhash Gopalakrishnan
                </div>
                <div class="more">
                    <%= mail_to "subhash@schoolarly.com" %>
                </div>
            </li>
        </ul>
    </div>
</div>
