<% include_stylesheet 'home' %>

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= I18n.t('home.pitch.teachers.title') %></span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/ico/cloud.png" alt="" />
            <ul>
                <li>
                	<%= I18n.t('home.pitch.teachers.first_line') %>                    
                </li>
                <li>
                	<%= I18n.t('home.pitch.teachers.second_line') %>                    
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= I18n.t('home.pitch.students.title') %></span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/ico/all_box.png" alt="" />
            <ul>
                <li>
                   <%= I18n.t('home.pitch.students.first_line') %>          
                </li>
                <li>
                   <%= I18n.t('home.pitch.students.second_line') %> 
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= I18n.t('home.pitch.parents.title') %></span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/ico/graph.png" alt="" />
            <ul>
                <li>
                   <%= I18n.t('home.pitch.parents.first_line') %>          
                </li>
                <li>
                   <%= I18n.t('home.pitch.parents.second_line') %> 
                </li>
            </ul>
        </div>
    </div>
</div>
<br/>
<hr class="wide" />
<br/>
<br/>
<% content_for :sidebar do %>
<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span>About us</span></h2>
    <div class="portlet_content">
        <ul>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_shenu.jpg" alt="" />
                </div>
                <div class="title">
                    Shenuja Subhash
                </div>
                <div class="text">
                    Shenuja Subhash
                </div>
                <div class="more">
                    <%= mail_to "shenuja@schoolarly.com" %>
                </div>
            </li>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_subhash.jpg" alt="" />
                </div>
                <div class="title">
                    Subhash Gopalakrishnan
                </div>
                <div class="text">
                    Subhash Gopalakrishnan
                </div>
                <div class="more">
                    <%= mail_to "subhash@schoolarly.com" %>
                </div>
            </li>
        </ul>
    </div>
</div>
<br/>
<% end %>
