<% include_javascript 'jquery-1.4.2.min'%>
<% include_javascript 'orangebox/orangebox.js'%>

<% include_stylesheet 'home' %>
<% include_stylesheet 'orangebox/orangebox.css' %>

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div class="portletK split" id="portlet_splashHome">
    <div class="portlet_content">
        <%= link_to image_tag("/images/home/dashboard2.png", :class =>"float_left icon"), "/images/home/dashboard.png", :rel => "lightbox" %>
        <ul>
            <li class="title">
                <%= I18n.t('home.pitch.students.detail.first.title') %>
            </li>
            <li>
                <%= I18n.t('home.pitch.students.detail.first.content') %>
            </li>
        </ul>
    </div>
</div>
<div class="portletK split" id="portlet_splashHome">
    <div class="portlet_content">
        <%= link_to image_tag("/images/home/events2.png", :class =>"float_left icon"), "/images/home/events.png", :rel => "lightbox" %>
        <ul>
            <li class="title">
                <%= I18n.t('home.pitch.students.detail.second.title') %>
            </li>
            <li>
                <%= I18n.t('home.pitch.students.detail.second.content') %>
            </li>
        </ul>
    </div>
</div>
<div class="portletK split padding" id="portlet_splashHome">
    <div class="portlet_content">
        <%= link_to image_tag("/images/home/photo2.png", :class =>"float_left icon"), "/images/home/photo.png", :rel => "lightbox" %>
        <ul>
            <li class="title">
                <%= I18n.t('home.pitch.students.detail.third.title') %>
            </li>
            <li>
                <br/>
				<br/>
				<br/>
            </li>
            <li>
                <%= I18n.t('home.pitch.students.detail.third.content') %>
            </li>
        </ul>
    </div>
</div>
