<% include_jquery %>
<% include_pretty_photo %>
<% include_bootstrap %>
<% include_list_filters %>

<div id='sharings' class='jplist'>
    <div class="panel box">
        <div class='drop-down' data-control-type='drop-down' data-control-name='paging' data-control-action='paging'>
            <ul>
                <li>
                    <span data-number='20' data-default='true'>20 per page </span>
                </li>
                <li>
                    <span data-number='50'>50 per page </span>
                </li>
                <li>
                    <span data-number='100'>100 per page </span>
                </li>
                <li>
                    <span data-number='all'>view all </span>
                </li>
            </ul>
        </div>
        <!-- filter -->
        <div class="filter">
			<input data-path='.author' type='text' value='' placeholder='Filter by author' data-control-type='textbox' data-control-name='author-filter' data-control-action='filter' />
            <input data-path='.title' type='text' value='' placeholder='Filter by title' data-control-type='textbox' data-control-name='title-filter' data-control-action='filter' /><input data-path='.desc' type='text' value='' placeholder='Filter by description' data-control-type='textbox' data-control-name='desc-filter' data-control-action='filter' />
        </div><!--[if IE]><div class='clear'></div><![endif]--><!-- paging -->
        <div class="cb-filters">
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="notices" data-path=".message" data-logic="or" id="message" type="checkbox" checked="checked">
                <label for="notices">
                    Messages
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="notes" data-path=".note" data-logic="or" id="note" type="checkbox" checked="checked">
                <label for="notes">
                    Notes
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="assignments" data-path=".assignment" data-logic="or" id="assignment" type="checkbox" checked="checked">
                <label for="assignments">
                    Assignments
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="submissions" data-path=".submission" data-logic="or" id="submission" type="checkbox" checked="checked">
                <label for="submissions">
                    Submissions
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="grades" data-path=".grade" data-logic="or" id="grade" type="checkbox" checked="checked">
                <label for="grades">
                    Grades
                </label>
            </div>			
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="photos" data-path=".photo" data-logic="or" id="photo" type="checkbox" checked="checked">
                <label for="photos">
                    Photos
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="videos" data-path=".video" data-logic="or" id="video" type="checkbox" checked="checked">
                <label for="videos">
                    Videos
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="events" data-path=".event" data-logic="or" id="event" type="checkbox" checked="checked">
                <label for="event">
                    Events
                </label>
            </div>
        </div>
        <div class='paging-results' data-type='Page {current} of {pages}' data-control-type='label' data-control-name='paging' data-control-action='paging'>
        </div>
        <div class='paging' data-control-type='placeholder' data-control-name='paging' data-control-action='paging'>
        </div>
    </div>
    <%= render :partial => 'member/sharings/sharings' %>
</div>
<% content_for :sidebar do %>
<div class="accordion" id="sidebar">
    <% @profile.user.groups.group_by(&:type).each do |type, groups| %>
    <% open = "in" if (current_user.teacher? || current_user.student? ) &&  (type == 'subjects') %>
    <% if groups.any? %>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#collapse<%=type%>"><%= I18n.t("groups.model.#{type}.title") %></a>
        </div>
        <% if local_assigns[:add_link] %>
        <p>
            <%= add_link %>
        </p>
        <% end %>
        <div id="collapse<%=type%>" class="accordion-body collapse <%= open%>">
            <ul class="accordion-inner">
                <%groups.each do |group| %>
                <li>
                    <a><%= link_to group.display_name, member_group_path(group) %></a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
    <% end %>
    <% end %>
</div>
<% end %>
