<div id="see_more" class="text">
    <%= truncate_to_words notice.content, :words => 100 %>
    <% if (notice.content.split.size > 100) %>
    <%= link_to_function "See More" do |page|
    page[:see_more].replace_html notice.content
    end %>
    <% end %>
</div>
<br/>
<%= render :partial => "shared/comments", :locals => { :commentable => notice , :exclude_add_comment => true} %>
<div class="portlet portletL">
    <%= link_to icon_for_notice, member_group_notice_path(group, notice) %>
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(notice.created_at)) %> . 
	<%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_group_notice_path(group, notice) %> . <%= share_with_groups_link(notice) if i_am_the_author_of? notice %>
</div>
