<span class="title">Notice</span>
<div id="notice_<%=notice.id%>" class="desc">
    <%= truncate_to_words notice.content, :words => 100 %>
    <% if (notice.content.split.size > 100) %>
    <%= link_to_function "See More","jQuery('div#notice_#{notice.id}').html('#{escape_javascript(notice.content)}')" %>
    <% end %>
</div>
<br/>
<div class="dashboard_comments">
    <%= render :partial => "shared/comments", :locals => { :commentable => notice , :exclude_add_comment => true} %>
</div>
<div class="portlet portletL">
    <span class="theme"><span class="message"><%= link_to icon_for_notice, member_group_notice_path(group, notice) %></span></span>
    <span class="date"><%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(notice.created_at)) %></span>
    . <%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_group_notice_path(group, notice) %>. <%= share_with_groups_link(notice) if i_am_the_author_of? notice %>
</div>