<% include_stylesheet 'demo' %>
<% include_javascript 'jquery-1.4.2.min' %>
<% include_javascript 'orangebox/orangebox.js' %>
<% include_stylesheet 'home' %>
<% include_stylesheet 'orangebox/orangebox.css' %>
<script type="text/javascript">
    jQuery.noConflict();
</script>

<div class="portletK" id="portlet_splashHome">
    <h2><span>Click on a button to log in</span></h2>
    <div class="portlet_content">
        <p>
            <div>
                <span class="action"><%= link_to 'Administrator', '/dumbledore' %></span>
                - Albus Dumbledore, the headmaster of Hogwarts school 
            </div>
            <br/>
            <div>
                <span class="action"><%= link_to 'Teacher', '/mcgonagall' %></span>
                - Minerva Mcgonagall, the English teacher 
            </div>
            <br/>
            <div>
                <span class="action"><%= link_to 'Teacher', '/hooch' %></span>
                - Rolonda Hooch, the Maths teacher 
            </div>
            <br/>
            <div>
                <span class="action"><%= link_to 'Student', '/harry' %></span>
                - Harry Potter, a student of class 1A 
            </div>
			<br/>
            <div>
                <span class="action"><%= link_to 'Student', '/hermione' %></span>
                - Hermione Granger, a student of class 1A 
            </div>
        </p>
    </div>
</div>
<br/>
<hr class="wide" />
<br/>
<br/>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title"><%= link_to "Intro Video", "http://www.youtube.com/embed/8YmiKt4Etwg?iframe", :rel => "lightbox" %></span></h2>
    <div class="portlet_content">
        <div>
            <%= link_to image_tag("/images/home/video2.png", :class =>"float_left icon"), "http://www.youtube.com/embed/8YmiKt4Etwg?iframe", :rel => "lightbox" %>
            <ul>
                <li>
                    <%= link_to "Watch a quick video demonstrating Schoolarly features","http://www.youtube.com/embed/8YmiKt4Etwg?iframe", :rel => "lightbox" %>
                </li>
                <br/>
                <br/>
                <br/>
                <br/>
            </ul>
        </div>
    </div>
</div>

<% content_for :sidebar do %>
<h2><span>Screencasts</span></h2>
<div class="image">
    <div class="title">
        School Administrator setting up a school
    </div>
    <iframe class="demo" title="YouTube video player" src="http://www.youtube.com/embed/ao3dL2ABEeg" frameborder="0" allowfullscreen>
    </iframe>
</div>
<br/>
<br/>
<div>
    <div class="title">
        Communication and Collaboration between teacher and students
    </div>
    <iframe class="demo" title="YouTube video player" src="http://www.youtube.com/embed/nIOVcdrMGCA" frameborder="0" allowfullscreen>
    </iframe>
</div>
<br/>
<br>
<div>
    <div class="title">
        Assessment and grading
    </div>
    <iframe class="demo" title="YouTube video player" src="http://www.youtube.com/embed/-026XiumjrU" frameborder="0" allowfullscreen>
    </iframe>
</div>
<% end %>
