<% @columns_distribution = "col_30_70" %>
<% include_stylesheet 'help' %>
<% include_javascript "jquery-1.4.2.min.js" %>
<script type="text/javascript">
    jQuery.noConflict();
    
    jQuery(document).ready(function(){
        jQuery('li.question a').click(function(e){
			e.preventDefault();
            jQuery(this).closest('li.question').next().toggle();
        });
    });
</script>
<div class="category_navigation">
    <h2>FAQ</h2>
	<% no_of_categories = Integer(I18n.t("help.no_of_categories")) %>
    <ul>
        <% for i in (1..no_of_categories) do %>
        <li>
            <a href =<%="#category_#{i}" %>><%= I18n.t("help.category_#{i}.title") %></a>
        </li>
        <% end %>
    </ul>
</div>
<% content_for :sidebar do %>
<% for i in (1..no_of_categories) do %>
<div id=<%="category_#{i}" %>>
    <h2 class="category"><%= I18n.t("help.category_#{i}.title") %></h2>
    <% no_of_questions = Integer(I18n.t("help.category_#{i}.no_of_questions")) %>
    <ul class="faq_list">
        <%for q in (1..no_of_questions) do %>
        <li class="question">
            <%= link_to I18n.t("help.category_#{i}.q_#{q}.question"), '#' %>
        </li>
        <li class="answer" style="display: none;">
            <%= I18n.t("help.category_#{i}.q_#{q}.answer") %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<% end %>
