<%= render :partial => 'member/sharings/title', :locals => {:shareable => @video} %>
<div class="image">
    <% profile = @video.user.profile %>
    <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) %>
    <%= link_to profile.full_name, member_profile_path(profile) %>
</div>
<div class="detail">
    <%= @video.description %>
</div>
<div id="video_<%= @video.id %>" class="border_top">
    <%= @video.embed unless @video.link.blank?%>
    <%= render :partial => "shared/comments", :locals => { :commentable => @video , :show_all => true} %>
</div>
<% content_for :sidebar do %>
<%= render :partial => 'member/videos/manage' %>
<%= render :partial => 'shared/groups' , :locals => {:shareable => @video} %>
<!-- TODO tags & archive -->
<% end %>
