<% if @grade.assignment.score %>
<div class="grade float_right">
    Total Score : <%= trim(@grade.score) %>/<%= trim(@grade.assignment.score) %>
</div>
<br/>
<% end %>
<% @rubric = @assignment.rubric %>
<% if @rubric %>
<table class="tableB">
    <tbody>
        <tr>
            <th scope="col">
            </th>
            <% for level in @rubric.levels %>
            <th scope="col">
                <%= level.name %>
                <span class='point'><%= trim(level.points) %></span>
            </th>
            <% end %>
        </tr>
        <% for criterion in @rubric.criteria %>
        <tr>
            <th>
                <%= criterion.name %>
                <span class='point'><%= trim(criterion.weightage) %>%</span>
            </th>
            <% for rd in criterion.rubric_descriptors %>
            <% c = @grade.rubric_descriptors.include?(rd) ? 'highlight' : '' %>
            <td class=<%=c%>
                ><%= rd.description %>
                <% if rd.points %>
                <span class='point'><%= trim(rd.points) %>/<%= trim(@rubric.max_points) %></span>
                <% end %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
<% if @rubric.max_points %>
<div class="title float_right">
    Grade Points : <%= trim(@grade.grade_points) %>/<%= trim(@rubric.max_points) %>
</div>
<% end %>
<% end %>
<br/>
<% if i_am_the_author_of?(@grade.assignment.post) %>
<div>
    <%= link_to_remote I18n.t('grades.member.edit.remove'), :url => member_grade_path(@grade), :method => :delete , :update => 'grade' , :html => {:class => 'button'} %>
    <%= link_to_remote I18n.t('grades.member.edit.change'), :url => edit_member_grade_path(@grade), :method => :get , :update => 'grade', :html => {:class => 'button mainaction'} %>
</div>
<% end %>
