<% include_stylesheet "rubric" %>
<% include_javascript 'busy_ajax' %>
<% include_javascript 'jquery-1.4.2.min' %>

<script type="text/javascript">
	jQuery.noConflict();
</script>

<%= render :partial => 'member/profiles/header' %>
<div class="titleB">
    <%= link_to @assignment.post.title, member_assignment_path(@assignment) %> > <%= I18n.t('grades.member.new.pending') %>
</div>

<br/>
<div id='grade'>
    <%= render :partial => 'member/grades/new' %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'member/assignments/manage' %>
<% end %>
