<%= render :partial => 'member/profiles/header', :locals => {:profile => @profile} %>
<div class="titleB">
    <%= link_to @assignment.post.title, member_assignment_path(@assignment) %><%= " > "%><%= I18n.t('grades.model.title')%>
</div>
<div id='grade'>
    <%= render :partial => 'member/grades/show' %>
</div>
<%= render :partial => 'member/submissions/show' %>
<% content_for :sidebar do %>
    <%= render :partial => 'member/assignments/manage' %>
<% end %>
