<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= I18n.t('schools.site.title') %></span></h2>
    <p><%= link_to I18n.t('schools.site.create_school'), new_member_school_path, :class => 'button add' %></p>
    <div class="portlet_content">
        <ul>
          <% @schools.each do |school|%>
          <li class="clearfix">
              <div class="image"><%=link_to image_for_group(school.group, 'medium'), school_path(school)%></div>
              <div class="title"><%= link_to school.group.name, school_path(school) %></div>
              <div class="text">
                 <%=school.group.description%>
              </div>
              <div class="members"><strong>
              <%= I18n.t('tog_social.groups.model.members', :count => school.group.members.size) %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>


<%= will_paginate @groups %>

<% content_for :sidebar do %>
  <% 'render :partial => "search_box" ' %>
  <%= render :partial => "groups/last_groups" %>
<% end %>
