<% group = group if local_assigns[:group] %>
<% assignment = submission.assignment %>
<div class="title">
    <span class="small"><%= link_to "#{sanitize assignment.name}", member_assignment_path(assignment, :group => group) %><%= " > " %>
    </span>
    <%= link_to "#{sanitize submission.name}", member_submission_path(submission, :group => group) %>
    <% if assignment.date %>
    <div class="time">
        <%= assignment.date.inspect %>, <%=assignment.start_time.to_s(:time_only) %><%= " - " %><%=assignment.end_time.to_s(:time_only) %>
    </div>
    <% end %>
    <% grade = assignment.grades.for_user(current_user) %>
    <% if grade and grade.shared_to?(current_user, assignment.user) %>
    <div class="score float_right">
        <%= link_to I18n.t('grades.member.view.title'), member_grade_path(assignment.grades.for_user(current_user)) %>
    </div>
    <% end %>
</div>
<% unless submission.submitter == submission.user %>
<div class="detail float_right">
    <%= I18n.t('submissions.model.by') %>
    <%= link_to submission.submitter.profile.full_name, profile_path(submission.submitter.profile) %>
</div>
<% end %>
<%= render :partial => "shared/comments", :locals => { :commentable => assignment.post , :exclude_add_comment => true} %>
<br/>
<div class="portlet portletL">
    <%= link_to icon_for_submission, member_submission_path(submission, :group => group), :title => "#{sanitize submission.name}" %>
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(submission.post.published_at)) %><%= " . " %><%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_submission_path(submission, :group => group), :title => I18n.t('groups.comments.comment_title', :title => h(submission.name)) %><%= " . " %><%= share_with_groups_link(submission) if i_am_the_author_of? submission.post %>
</div>
