<% include_stylesheet "rubric" %>
<% include_javascript 'busy_ajax' %>
<% include_javascript 'jquery-1.4.2.min' %>
<script type="text/javascript">
    jQuery.noConflict();
</script>
<%= render :partial => 'member/profiles/header', :locals => {:profile => @profile} %>
<% pending_submission = @submission.blank? or !@submission.post.published? %>
<% title = pending_submission ? I18n.t('grades.member.new.pending') : @submission.post.title %>
<div class="titleB">
    <%= link_to @assignment.post.title, member_assignment_path(@assignment) %>> <%= title %>
</div>
<div class="float_right">
	<%= I18n.t('submissions.model.by')%>
    <%= render :partial => 'member/profiles/header', :locals => {:profile => @submitter.profile, :size => "small" } %>
</div>
<% unless pending_submission %>
<iframe src="https://crocodoc.com/view/?sessionId=<%= @session %>" style="border:1px solid #ddd; width: 900px; height: 100%">
</iframe>
<% end %>
<br/>
