<div class="portlet portletI">
    <h3><span><%= I18n.t('submissions.site.manage.title', :name => @assignment.post.title) %>
            <%= link_to I18n.t('submissions.site.manage.grade_table'), member_assignment_grades_path(@assignment), :class => "float_right" if i_own?(@assignment) and @assignment.score %>
        </span></h3>
    <div class="portlet_content">
        <ul>
            <% if i_own? @assignment %>
            <% @submitters.each do |s| %>
            <% submission = @assignment.submissions.find_by_user_id(s.id) %>
            <li>
                <div class="image">
                    <%= link_to icon_for_profile(s.profile, 'tiny'), member_profile_path(s.profile) %>
                </div>
                <div>
                    <%= link_to s.profile.full_name, member_profile_path(s.profile) %>
                </div>
                <% if s.student? %>
                <span class="float_right"><% grade = @assignment.grades.for_user(s) %>
                    <% if grade %>
                    <% if @assignment.score %>
                    <% score = "#{trim(grade.score)}/#{trim(@assignment.score)}" %>
                    <% elsif @assignment.rubric %>
                    <% score = grade.rubric_points %>
                    <% else %>
                    <% score = "View Grade" %>
                    <% end %>
                    <%= link_to score, member_grade_path(@assignment.grades.for_user(s)) %>
                    <% else %>
                    <%= link_to I18n.t('assignments.member.grades.assign'), new_member_assignment_grade_path(@assignment, :user_id => s) %>
                    <% end %>
                </span>
                <% end %>
                <% if submission.blank? or !submission.post.published? %>
                <div class="subtitle">
                    <% if @assignment.has_submissions %>
                    <%= I18n.t('submissions.model.state.pending') %>
                    <% else %>
                    <%= link_to I18n.t('submissions.site.manage.new'), new_member_assignment_submission_path(@assignment, :user => s) %>
                    <% end %>
                </div>
                <% else %>
                <div class="title">
                    <%= link_to "#{sanitize submission.post.title}", member_submission_path(submission) %>
                </div>
                <div class="portletL fontsmaller">
                    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(submission.post.created_at)) %>
                </div>
                <% end %>
            </li>
            <% end %>
            <div class="float_right">
                <%= button_to I18n.t('assignments.member.grades.publish'), publish_grades_member_assignment_path(@assignment), :confirm => I18n.t('assignments.member.grades.publish_confirm'), :disabled => !@publish, :method => :get %>
            </div>
            <% elsif @assignment.shared_to?(current_user) and current_user.student? %>
            <% submission = @assignment.submissions.find_by_user_id(current_user.id) %>
            <li>
                <div class="image">
                    <%= link_to icon_for_profile(current_user.profile, 'tiny'), member_profile_path(current_user.profile) %>
                </div>
                <div>
                    <%= link_to current_user.profile.full_name, member_profile_path(current_user.profile) %>
                </div>
                <span class="float_right"><% grade = @assignment.grades.for_user(current_user) %>
                    <% if grade and grade.shared_to?(current_user, @assignment.user) %>
                    <% if @assignment.score %>
                    <% score = "#{trim(grade.score)}/#{trim(@assignment.score)}" %>
                    <% elsif @assignment.rubric %>
                    <% score = "#{trim(grade.grade_points)}/#{trim(@assignment.rubric.max_points)}" %>
                    <% else %>
                    <% score = "View Grade" %>
                    <% end %>
                    <%= link_to score, member_grade_path(@assignment.grades.for_user(current_user)) %>
                    <% else %>
                    <%= I18n.t('assignments.member.grades.pending') %>
                    <% end %>
                </span>
                <% if submission.blank? %>
                <%= link_to I18n.t('submissions.site.manage.new'), new_member_assignment_submission_path(@assignment) if @assignment.has_submissions %>
                <% elsif submission.post.published? %>
                <%= link_to I18n.t('submissions.site.manage.view'), member_submission_path(submission) %>
                <% else %>
                <%= I18n.t("submissions.model.state.draft") %>: <%= link_to I18n.t('submissions.site.manage.view'), edit_member_submission_path(submission) %>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>
</div>
