<%= include_tiny_mce_if_needed %>
<div class="titleB">
    <%= link_to @assignment.post.title, member_assignment_path(@assignment) %>> <%= I18n.t('submissions.site.new.title', :user => @user.profile.full_name) %>
</div>
<br/>
<div class="error">
    <%= error_messages_for :submission %>
</div>
<% form_for(@submission, :url=> member_submission_path(@submission), :html=>{:multipart=>true}) do |f| %>
<fieldset>
    <% f.fields_for :post do |p| %>
    <%= render :partial => 'member/conversatio/posts/form', :locals => {:f => p, :post => @submission.post } %>
    <% end %>
    <%= f.hidden_field :assignment_id %>
    <div class="actions">
        <%= submit_tag I18n.t('submissions.site.new.draft'), :name => "draft", :class => "button mainaction" %>
        <%= submit_tag I18n.t('submissions.site.new.publish'),:name => "publish", :class => "button mainaction", :confirm =>  I18n.t('submissions.site.new.confirm') %>
    </div>
</fieldset>
<% end %>