<%= render :partial => 'member/profiles/header' %>

<div class="titleB">
    <%= link_to @assignment.post.title, member_assignment_path(@assignment) %> > <%= @submission.post.title %>
</div>

<!--
<iframe src="https://crocodoc.com/view/?sessionId=<%= @session %>" style="border:1px solid #ddd; width: 900px; height: 100%">
</iframe>

-->
<% if @grade.new_record? %>
<%= render :partial => 'member/grades/new' %>
<% else %>
<%= render :partial => 'member/grades/edit' %>
<% end %>