<% include_stylesheet "rubric" %>
<% include_javascript 'busy_ajax' %>
<% include_javascript 'jquery-1.4.2.min' %>

<script type="text/javascript">
	jQuery.noConflict();
</script>

<%= render :partial => 'member/profiles/header' %>
<div class="titleB">
    <%= link_to @assignment.post.title, member_assignment_path(@assignment) %>> <%= @submission.post.title %>
</div>
<!--
<iframe src="https://crocodoc.com/view/?sessionId=<%= @session %>" style="border:1px solid #ddd; width: 900px; height: 100%">
</iframe>
-->
<br/>
<div id='grade'>
    <% if @grade %>
    <%= render :partial => 'member/grades/show' %>
    <% elsif i_am_the_owner_of?(@assignment.post) %>
    <%= render :partial => 'member/grades/empty' %>
    <% end %>
</div>
