<% if @type == 'schools' %>
<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= I18n.t("#{@type}.site.title") %></span></h2>
    <p><%= link_to I18n.t("#{@type}.site.create"), new_member_group_path(:type => @type), :class => 'btn' %></p>
    <div class="portlet_content">
        <ul>
          <% @groups.each do |group|%>
          <li class="clearfix">
              <div class="image"><%=link_to image_for_group(group, 'medium'), member_group_path(group)%></div>
              <div class="title"><%= link_to group.name, member_group_path(group) %></div>
              <div class="text">
                 <%=group.description%>
              </div>
              <div class="members"><strong>
              <%= I18n.t('tog_social.groups.model.members', :count => group.members.size) %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>
<% else %>

<h1><%= I18n.t("tog_social.groups.admin.groups") %></h1>

<table class="tableE">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("tog_social.groups.model.name") -%></th>
      <th scope="col"><%= I18n.t("tog_social.groups.model.created_by") -%></th>
      <th scope="col"><%= I18n.t("tog_social.groups.model.private") -%></th>
      <th scope="col"><%= I18n.t("tog_social.groups.model.moderated") -%></th>
      <th scope="col"><%= I18n.t("tog_social.groups.model.active") -%></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5" class="info_results">
        <span class="info_items"><%= page_entries_info @groups %></span>
        <span class="pages_navigation right">
          <%= will_paginate @groups, :container => false %>
        </span>
        </td>
    </tr>
  </tfoot>  
  <tbody>
    <% @groups.each do |group| %>
    <tr<%= cycle('',' class="pair"') -%>>
      <td><%= link_to group.display_name, edit_admin_group_url(group), {:class => "admin", :title => I18n.t("tog_social.groups.admin.edit_group")} -%></td>
      <td><%= link_to group.author.profile.full_name, edit_admin_user_path(group.author) if group.author %></td>
      <td><%= group.private == true ? I18n.t("tog_social.msg_yes") : I18n.t("tog_social.msg_no") -%></td>
      <td><%= group.moderated == true ? I18n.t("tog_social.msg_yes") : I18n.t("tog_social.msg_no") -%></td>
      <td><%= group.active? == true ? I18n.t("tog_social.msg_yes") : I18n.t("tog_social.msg_no")  -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
