<div class="titleB">
	<%= link_to @klass.group.name, path_for_group(@klass.group) %> > 
	<%= I18n.t('subjects.site.create_subject') %>
	</div>
<br />

<% if @group && !@group.errors.empty? -%>
<div class="error">
  <%= error_messages_for :group %>
</div>
<% end -%>

<% form_for(:group, :url=>member_klass_subjects_path(@klass), :html=>{:multipart=>true}) do |f| %>
  <fieldset>
    <legend><%= I18n.t('subjects.site.details') %></legend>
    <div class="fields">
      <p>
        <label for="group_name"><%= I18n.t('tog_social.groups.model.name') %></label>
        <%= f.text_field  :name, :class => 'fieldbox wide', :size => 35 %>
      </p>
      <p>
        <label for="group_description"><%= I18n.t('tog_social.groups.model.description') %></label>
        <%= f.text_area  :description, :class => 'fieldbox wide', :size => '60x10' %></dd>
      </p>
      <p>
        <label for="group_tag_list"><%= I18n.t('tog_social.tags.tags') %></label>
        <%= f.text_field  :tag_list, :class => 'fieldbox', :size => 35 %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.tags.separated_by_comma') %></span>
      </p>      
    </div>
    <div class="actions">
      <%= submit_tag I18n.t('tog_social.groups.site.create'), :class => "button mainaction" %>
    </div>
  </fieldset>
<% end %>
