<div class="portlet_content">
    <ul>
        <% for share in @shares %>
        <% if display?(share) and (i_own?(share) or share.published?) %>
        <% profile = share.user.profile %>
        <li class="detail detail1 <%=share.shareable_type%>">
            <div class="image">
                <%= link_to icon_for_profile(profile, 'small', :class=>"img"), member_profile_path(profile) %>
            </div>
            <div>
                <%= link_to profile.full_name, member_profile_path(profile) %>
                <% unless @group or !share.shared_to.is_a?(Group) %>
                > <span class="subtitle"><%= link_to share.shared_to.display_name, member_group_path(share.shared_to) %></span>
                <% end %>
                <% shared_through_whom(share).each do |u| %>
                > <span class="subtitle"><%= link_to u.profile.full_name, member_profile_path(u.profile) %></span>
                <% end %>
            </div>
            <% if share.shareable.is_a? Picto::Photoset %>
            <%= render :partial => '/member/picto/photosets/list_detail', :locals => {:share => share , :group => share.shared_to} %>
            <% end %>
            <% if share.shareable.is_a? Picto::Photo %>
            <%= render :partial => '/member/picto/photos/list_detail', :locals => {:share => share , :group => share.shared_to} %>
            <% end %>
            <% if share.shareable.is_a? Post %>
            <%= render :partial => '/member/conversatio/posts/list_detail', :locals => { :blog => share.shareable.blog, :post => share.shareable , :group => share.shared_to} %>
            <% end %>
            <% if share.shareable.is_a? Event %>
            <%= render :partial => '/member/conclave/events/list_detail', :locals => { :event => share.shareable , :group => share.shared_to } %>
            <% end %>
            <% if share.shareable.is_a? Attachment %>
            <%= render :partial => '/member/attachments/list_detail', :locals => { :attachment => share.shareable , :group => share.shared_to } %>
            <% end %>
            <% if share.shareable.is_a? Assignment %>
            <%= render :partial => '/member/assignments/list_detail', :locals => { :assignment => share.shareable , :group => share.shared_to } %>
            <% end %>
            <% if share.shareable.is_a? Notice %>
            <%= render :partial => '/member/notices/list_detail', :locals => { :notice => share.shareable , :group => share.shared_to } %>
            <% end %>
            <% if share.shareable.is_a? Submission %>
            <%= render :partial => '/member/submissions/list_detail', :locals => { :submission => share.shareable , :group => share.shared_to } %>
            <% end %>
            <% if share.shareable.is_a? Grade %>
            <%= render :partial => '/member/grades/list_detail', :locals => { :share => share } %>
            <% end %>
        </li>
        <% end %>
        <% end %>
    </ul>
</div>
<% if !@shares.empty? %>
<div class="info_results">
    <span class="info_items"><%= page_entries_info @shares %>
    </span>
    <span class="pages_navigation right"><%= will_paginate @shares, :params => {:filter => @filter} %>
    </span>
</div>
<%end %>
