<div class="portlet_content">
    <div class="list detail1 detail">
        <% @shares.find_each do |share| %>
        <% if display?(share) and (i_own?(share.shareable) or share.published?) %>
        <% profile = share.user.profile %>
        <div class="list-item <%=share.shareable_type.demodulize %>">
            <div class="image">
                <%= link_to icon_for_profile_with_state(profile, 'small', share.user.state, :class=>"img"), member_profile_path(profile) %>
            </div>
            <div>
                <span class="author"><%= link_to profile.full_name, member_profile_path(profile) %>
                </span>
                <% unless @group %>
	                <%= " > " %>
	                <% if  share.shared_to.is_a?(Group)  %>
	                <span class="subtitle group"><%= link_to share.shared_to.display_name, member_group_path(share.shared_to) %></span>
					<% else %>
					<span class="subtitle group"><%= I18n.t('shares.me.title') %></span>
	                <% end %>                
                <% end %>
            </div>
            <div class="block">
            	<span class="share-date hidden"><%= share.updated_at %></span>
                <%= render :partial => '/member/sharings/list_detail', :locals => {:share => share} %>               
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>
