<div class="portlet_content">
    <ul>
        <% for share in @shares %>
        <% if share.shareable.is_a? Post %>
        <%= render :partial => '/conversatio/posts/list_detail', :locals => { :blog => share.shareable.blog, :post => share.shareable } %>
        <% end %>
        <% if share.shareable.is_a? Event %>
        <%= render :partial => '/conclave/events/list_detail', :locals => { :event => share.shareable } %>
        <% end %>
        <% if share.shareable.is_a? Attachment %>
        <%= render :partial => '/attachments/list_detail', :locals => { :attachment => share.shareable } %>
        <% end %>
        <% if share.shareable.is_a? Assignment %>
        <%= render :partial => '/assignments/list_detail', :locals => { :assignment => share.shareable } %>
        <% end %>
        <% end %>
    </ul>
</div>
<% if !@shares.empty? %>
<div class="info_results">
    <span class="info_items"><%= page_entries_info @shares %>
    </span>
    <span class="pages_navigation right"><%= will_paginate @shares %>
    </span>
</div>
<%end %>