<div class="title">
    <%= link_to "#{sanitize attachment.title}", member_attachment_path(attachment, :group => @group) %>
</div>
<div class="text"> 
	<%= sanitize(textilize(attachment.description), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_attributes').split) %>
</div>
<div class="portlet portletL">
	<%= link_to icon_for_attachment, attachment.doc.url, :title => "#{sanitize attachment.doc.original_filename}" %>
    <%= I18n.t('attachments.site.list_detail.time_ago', :time => time_ago_in_words(attachment.created_at)) %> . 
	<%= link_to I18n.t('tog_conversatio.views.posts.comments.comments', :size => attachment.comments.size), member_attachment_path(attachment, :group => @group) %> . 
	<%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), member_attachment_path(attachment, :group => @group), :title => I18n.t('groups.comments.comment_title', :title => h(attachment.title)) %> .
	<%= share_with_groups_link(attachment) if i_am_the_author_of? attachment %>
</div>
